{% extends "admin_base.twig" %}

{% block template %}

<script type = "text/javascript" language = "javascript">

  //Call these functions upon page load
  $(document).ready(function() {
    //Convert the main table into a data table
    $('#the_main_table').DataTable({
      "paging":   false,
      "aaSorting": []
    });

  });
</script>


  <h1>{{pageTitle}}</h1>
  <h3>{{pageSubTitle}}</h3>
  <div class="table-responsive">
  <table class="table table-condensed table-hover" id="the_main_table">
    <caption><a href="/admin/newhash/form"><b>Click to create an event!</b></a></caption>
    <thead>
      <tr>
        <th>Kennel</td>
        <td>Hash Number</td>
        <td>Location</td>
        <td>Date</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {% for item in theList %}
        {% if item.IS_HYPER == '0000000000' %}
          <tr>
        {% else %}
          <tr bgcolor = "#EDC9AF">
        {% endif %}
          <td>{{item.KENNEL_ABBREVIATION}}</td>
          <td><a href='/{{item.KENNEL_ABBREVIATION}}/hashes/{{item.HASH_KY}}'>{{item.KENNEL_EVENT_NUMBER}}</a></td>
          <td>{{item.EVENT_LOCATION}}</td>
          <td nowrap="nowrap">{{item.EVENT_DATE|date("Y/m/d", false)}}</td>
          <td>
            <a href="/admin/modifyhash/form/{{item.HASH_KY}}">Modify Event</a> |
            <a href="/admin/event/manageparticipation/{{item.HASH_KY}}">Modify Participation</a>
          </td>
        </tr>
      {% endfor %}
  </table>
  </div>
{% endblock %}
