{% block meta_tags %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!DOCTYPE html>
{% endblock %}


<html lang="en">
  <head>
    {% block head %}
        <link rel = "stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel = "stylesheet" href="/vendor/datatables/datatables/media/css/dataTables.bootstrap.css">
        <script type = "text/javascript" src = "/vendor/components/jquery/jquery.min.js"></script>
        <script type = "text/javascript" src = "/vendor/ifightcrime/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
        <script type = "text/javascript" src = "/vendor/twbs/bootstrap/js/collapse.js"></script>
        <script type = "text/javascript" src = "/vendor/datatables/datatables/media/js/jquery.dataTables.js"></script>
        <script type = "text/javascript" src = "/vendor/datatables/datatables/media/js/dataTables.bootstrap.min.js"></script>

        <script type = "text/javascript" src = "/node_modules/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <link rel = "stylesheet" href="/node_modules/datatables.net-responsive-dt/css/responsive.dataTables.css">


        <title>{{pageTitle}}</title>
    {% endblock %}


    <style>
    @media print {
      a[href]:after {
        content: none !important;
      }
    }
    </style>

  </head>

  <body>

    <div class="bs-example bs-navbar-top-example" data-example-id="navbar-static-top">
      <nav class="navbar navbar-inverse navbar-static-top ">
        <div class="container-fluid">
          <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-8"
                aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/{{kennel_abbreviation}}">{{kennel_abbreviation}} Stats</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
            <ul class="nav navbar-nav">




              <li><a href="/{{kennel_abbreviation}}/basic/stats">Basic</a></li>
              <li><a href="/{{kennel_abbreviation}}/haring/stats">Haring</a></li>
              <li><a href="/{{kennel_abbreviation}}/hashing/stats">Hashing</a></li>
              <li><a href="/{{kennel_abbreviation}}/analversary/stats">Analversaries</a></li>
              <li><a href="/{{kennel_abbreviation}}/cautionary/stats">Cautionary</a></li>
              <li><a href="/{{kennel_abbreviation}}/miscellaneous/stats">Switch Kennel</a></li>
              <li><a href="/admin/hello">Admin</a></li>

            </ul>
          </div>
        </div>
      </nav>
    </div>



    <div class="container-fluid">
      {% block template %}{% endblock %}
    </div>

  </body>

</html>
