{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-4">
          <div class="list-group">
            <a href="#1" class="list-group-item active">Standard Statistics</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/listhashers2"><b>List of All Hashers (People and dogs)</b></a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/listhashes2"><b>List of All Hashes (Events)</b></a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/jumboCountsTable">Jumbo Counts List</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/jumboPercentagesTable">Jumbo Percentages List</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hashingCounts">Hashing Counts</a>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="list-group">
            <a href="#2" class="list-group-item active">Kennel Details</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hashes/{{first_hash.HASH_KY}}">First Hash: # {{first_hash.KENNEL_EVENT_NUMBER}} on {{first_hash.EVENT_DATE |date("Y/m/d", false)}}</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hashes/{{latest_hash.HASH_KY}}">Latest Hash: # {{latest_hash.KENNEL_EVENT_NUMBER}} on {{latest_hash.EVENT_DATE |date("Y/m/d", false)}}</a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="list-group">
            <a href="#3" class="list-group-item active">Haring Details</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/haringCounts">Overall Haring Counts</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/nonHyperharingCounts">True Haring Counts</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hyperharingCounts">Hyper Haring Counts</a>
          </div>
        </div>
      </div>

        <div class="row marketing">

          <div class="col-lg-6">
            <div class="list-group">
              <a href="#1" class="list-group-item active">Absurd Statistics</a>
              <a class="list-group-item" href="/{{kennel_abbreviation}}/hasherNameAnalysis">Hashername Substring Fequency Analysis (Version 1)</a>
              <a class="list-group-item" href="/{{kennel_abbreviation}}/hasherNameAnalysis2">Hashername Substring Fequency Analysis (Version 2)</a>
              <a class="list-group-item" href="/{{kennel_abbreviation}}/longestStreaks">Longest Streaks!</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="list-group">
              <a href="#4" class="list-group-item active">Year by year summaries</a>
                {% for item in theYearValues %}
                  <a class="list-group-item" href='/{{kennel_abbreviation}}/statistics/getYearInReview/{{item.YEAR}}' >{{item.YEAR}} ({{item.THE_COUNT}} events)</a>
                {% endfor %}
            </div>
          </div>
        </div>


      </div>

{% endblock %}
