{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Hashes where bad things happened</h3>

          {% for randomKey in randomKeysForRidiculousStats %}
            {% if (loop.index0 is even) %}
              <a href='/{{kennel_abbreviation}}/listhashes/byhasher/{{hareKeys[loop.index0].HARE_KEY}}'>{{listOfRidiculousness[randomKey]}}</a><br>
            {% endif %}
            {% if (loop.index0 is odd) %} 
              <a href='/{{kennel_abbreviation}}/listhashes/byhare/{{hareKeys[loop.index0].HARE_KEY}}'>{{listOfRidiculousness[randomKey]}}</a><br>
            {% endif %}
          {% endfor %}


        </div>

        <div class="col-lg-6">
          <h3>Other</h3>
          Not written<br>
          Not written<br>
        </div>


      </div>

{% endblock %}
