{% extends "fullwidth.twig" %}

{% block content %}

  <div class="container">
    <h1>{{pageTitle}}</h1>
    <h3>As of {{kennel_abbreviation}} #{{theHashValue.KENNEL_EVENT_NUMBER}} on {{theHashValue.EVENT_DATE|date("Y/m/d H:i (D)", false)}} at {{theHashValue.EVENT_LOCATION}}</h3>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Hound Analversaries (+)
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            {% if (houndAnalversaryList is empty)%}
              <h3>None!</h3>
            {% else %}

              {% set headerbgcolor = "#d3d3d3" %}
              {% set databgcolor = "#80CBC4" %}

              <div class="row">
                <div class="col-xs-12 col-md-6 hidden-xs" style="background-color:{{headerbgcolor}};"></div>
                <div class="col-xs-6 col-md-6 hidden-xs"  style="background-color:{{headerbgcolor}};">Count</div>
              </div>

              {% for item in houndAnalversaryList %}
                <div class="row">
                  <div class="col-xs-12 col-md-6"   style="background-color:{{headerbgcolor}};">{{item.HASHER_NAME}}</div>
                  <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Count</div>
                  <div class="col-xs-6 col-md-6"    style="background-color:{{databgcolor}};">{{item.THE_COUNT}}</div>
                  <div class="col-xs-12 visible-xs"></br></div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
















            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    Hare Analversaries (+)
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  {% if (consolidatedHareAnalversaryList is empty)%}
                    <h3>None!</h3>
                  {% else %}
                    {% set headerbgcolor = "#d3d3d3" %}
                    {% set databgcolor = "#CE93D8" %}
                    <div class="row">
                      <div class="col-xs-12 col-md-4 hidden-xs" style="background-color:{{headerbgcolor}};"></div>
                      <div class="col-xs-4 col-md-4 hidden-xs"  style="background-color:{{headerbgcolor}};">Count</div>
                      <div class="col-xs-4 col-md-4 hidden-xs"  style="background-color:{{headerbgcolor}};">Type</div>
                    </div>

                    {% for item in consolidatedHareAnalversaryList %}
                      <div class="row">
                        <div class="col-xs-12 col-md-4"   style="background-color:{{headerbgcolor}};">{{item.HASHER_NAME}}</div>
                        <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Count</div>
                        <div class="col-xs-6 col-md-4"    style="background-color:{{databgcolor}};">{{item.THE_COUNT}}</div>
                        <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Type</div>
                        <div class="col-xs-6 col-md-4"    style="background-color:{{databgcolor}};">{{item.HARING_TYPE}}</div>
                        <div class="col-xs-12 visible-xs"></br></div>
                      </div>
                    {% endfor %}
                  {% endif %}

                </div>
              </div>
            </div>









            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    Location Analversaries (+)
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  {% if (geolocationHoundAnalversaryList is empty)%}
                    <h3>None!</h3>
                  {% else %}
                    {% set headerbgcolor = "#d3d3d3" %}
                    {% set databgcolor = "#C5E1A5" %}
                    <div class="row">
                      <div class="col-xs-12 col-md-3 hidden-xs" style="background-color:{{headerbgcolor}};"></div>
                      <div class="col-xs-3 col-md-3 hidden-xs"  style="background-color:{{headerbgcolor}};">Count</div>
                      <div class="col-xs-3 col-md-3 hidden-xs"  style="background-color:{{headerbgcolor}};">Type</div>
                      <div class="col-xs-3 col-md-3 hidden-xs"  style="background-color:{{headerbgcolor}};">Value</div>
                    </div>

                    {% for item in geolocationHoundAnalversaryList %}
                      <div class="row">
                        <div class="col-xs-12 col-md-3"   style="background-color:{{headerbgcolor}};">{{item.HASHER_NAME}}</div>
                        <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Count</div>
                        <div class="col-xs-6 col-md-3"    style="background-color:{{databgcolor}};">{{item.THE_COUNT}}</div>
                        <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Type</div>
                        <div class="col-xs-6 col-md-3"    style="background-color:{{databgcolor}};">{{item.ANV_TYPE}}</div>
                        <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Value</div>
                        <div class="col-xs-6 col-md-3"    style="background-color:{{databgcolor}};">
                          {% if(item.ANV_VALUE is empty)%}
                            Unknown
                          {% else %}
                            {{item.ANV_VALUE}}
                          {% endif %}
                        </div>
                        <div class="col-xs-12 visible-xs"></br></div>
                      </div>
                    {% endfor %}
                  {% endif %}

                </div>
              </div>
            </div>








                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                Date/Time Analversaries (+)
                              </a>
                            </h4>
                          </div>
                          <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body">
                              {% if (dateHoundAnalversaryList is empty)%}
                                <h3>None!</h3>
                              {% else %}
                                {% set headerbgcolor = "#d3d3d3" %}
                                {% set databgcolor = "#FFCC80" %}
                                <div class="row">
                                  <div class="col-xs-12 col-md-3 hidden-xs" style="background-color:{{headerbgcolor}};"></div>
                                  <div class="col-xs-3 col-md-3 hidden-xs"  style="background-color:{{headerbgcolor}};">Count</div>
                                  <div class="col-xs-3 col-md-3 hidden-xs"  style="background-color:{{headerbgcolor}};">Type</div>
                                  <div class="col-xs-3 col-md-3 hidden-xs"  style="background-color:{{headerbgcolor}};">Value</div>
                                </div>

                                {% for item in dateHoundAnalversaryList %}
                                  <div class="row">
                                    <div class="col-xs-12 col-md-3"   style="background-color:{{headerbgcolor}};">{{item.HASHER_NAME}}</div>
                                    <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Count</div>
                                    <div class="col-xs-6 col-md-3"    style="background-color:{{databgcolor}};">{{item.THE_COUNT}}</div>
                                    <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Type</div>
                                    <div class="col-xs-6 col-md-3"    style="background-color:{{databgcolor}};">{{item.ANV_TYPE}}</div>
                                    <div class="col-xs-6 visible-xs"  style="background-color:{{databgcolor}};">Value</div>
                                    <div class="col-xs-6 col-md-3"    style="background-color:{{databgcolor}};">
                                      {% if(item.ANV_VALUE is empty)%}
                                        Unknown
                                      {% else %}
                                        {{item.ANV_VALUE}}
                                      {% endif %}
                                    </div>
                                    <div class="col-xs-12 visible-xs"></br></div>
                                  </div>
                                {% endfor %}
                              {% endif %}

                            </div>
                          </div>
                        </div>







                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                          Streakers (+)
                        </a>
                      </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                      <div class="panel-body">
                        {% if (theStreakersList is empty)%}
                          <h3>None!</h3>
                        {% else %}
                          {% set winning = "#d4efdf" %}
                          {% set losing = "#f2d7d5" %}
                          {% set tying = "#fcf3cf" %}

                          <div class="row">
                            <div class="col-xs-12 col-md-3 hidden-xs" style="background-color:#d3d3d3;"></div>
                            <div class="col-xs-4 col-md-3 hidden-xs" style="background-color:#d3d3d3;">Consecutive Hashes</div>
                            <div class="col-xs-4 col-md-3 hidden-xs" style="background-color:#d3d3d3;">Consecutive Days</div>
                            <div class="col-xs-4 col-md-3 hidden-xs" style="background-color:#d3d3d3;">Last Missed Hash</div>
                          </div>

                          {% for item in theStreakersList %}

                            {% if item.THE_STREAK_IN_EVENTS == 1 %}
                              {% set t1bgcolor = losing %}
                            {% elseif  item.THE_STREAK_IN_EVENTS < 8 %}
                              {% set t1bgcolor = tying %}
                            {% else %}
                              {% set t1bgcolor = winning %}
                            {% endif %}

                            <div class="row">
                              <div class="col-xs-12 col-md-3" style="background-color:#d3d3d3;"><a href="/{{kennel_abbreviation}}/hashers/{{item.THE_HASHER_KY}}">{{item.THE_HASHER_NAME}}</a></div>
                              <div class="col-xs-8 visible-xs" style="background-color:{{t1bgcolor}};">Consecutive Hashes</div>
                              <div class="col-xs-4 col-md-3" style="background-color:{{t1bgcolor}};">{{item.THE_STREAK_IN_EVENTS}}</div>
                              <div class="col-xs-8 visible-xs" style="background-color:{{t1bgcolor}};">Consecutive Days</div>
                              <div class="col-xs-4 col-md-3" style="background-color:{{t1bgcolor}};">{{item.THE_STREAK_IN_DAYS}}</div>
                              <div class="col-xs-8 visible-xs " style="background-color:{{t1bgcolor}};">Last Missed Hash</div>
                              <div class="col-xs-4 col-md-3" style="background-color:{{t1bgcolor}};">{{item.LAST_MISSED_EVENT}}</div>
                              <div class="col-xs-12 visible-xs"></br></div>
                            </div>

                          {% endfor %}
                        {% endif %}

                      </div>
                    </div>
                  </div>




                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                        Backsliders (+)
                      </a>
                    </h4>
                  </div>
                  <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                      {% if (theBackslidersList is empty)%}
                        <h3>None!</h3>
                      {% else %}
                        {% set winning = "#d4efdf" %}
                        {% set losing = "#f2d7d5" %}
                        {% set tying = "#fcf3cf" %}

                        <div class="row">
                          <div class="col-xs-12 col-md-3 hidden-xs" style="background-color:#d3d3d3;"></div>
                          <div class="col-xs-4 col-md-2 hidden-xs"  style="background-color:#d3d3d3;">Hashes Missed</div>
                          <div class="col-xs-4 col-md-2 hidden-xs"  style="background-color:#d3d3d3;">Days Absent</div>
                          <div class="col-xs-4 col-md-2 hidden-xs"  style="background-color:#d3d3d3;">Last Hash</div>
                          <div class="col-xs-4 col-md-3 hidden-xs"  style="background-color:#d3d3d3;">Last Hash Date</div>
                        </div>

                        {% for item in theBackslidersList %}

                          {% if item.DAYS_SINCE_LAST_EVENT is null %}
                            {% set bgcolor = "#f5b7b1" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT == 0 %}
                            {% set bgcolor = "#d7bde2" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 10 %}
                            {% set bgcolor = "#d6eaf8" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 15 %}
                            {% set bgcolor = "#d1f2eb" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 30 %}
                              {% set bgcolor = "#fcf3cf" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 60 %}
                              {% set bgcolor = "#fad7a0" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 90 %}
                              {% set bgcolor = "#edbb99" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 180 %}
                              {% set bgcolor = "#eaeded" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 365 %}
                              {% set bgcolor = "#f4ecf7" %}
                          {% elseif item.DAYS_SINCE_LAST_EVENT < 730 %}
                              {% set bgcolor = "#fad7a0" %}
                          {% else  %}
                            {% set bgcolor = "#fdedec" %}
                          {% endif %}



                          <div class="row">
                            <div class="col-xs-12 col-md-3"   style="background-color:#d3d3d3;">
                              <a href="/{{kennel_abbreviation}}/hashers/{{item.HASHER_KY}}">
                                {{item.HASHER_NAME}}
                              </a>
                            </div>
                            <div class="col-xs-8 visible-xs"  style="background-color:{{bgcolor}};">Hashes Missed</div>
                            <div class="col-xs-4 col-md-2"    style="background-color:{{bgcolor}};">{{item.THE_NUMBER_OF_MISSED_HASHES}}</div>
                            <div class="col-xs-8 visible-xs"  style="background-color:{{bgcolor}};">Days Absent</div>
                            <div class="col-xs-4 col-md-2"    style="background-color:{{bgcolor}};">
                              {% if item.DAYS_SINCE_LAST_EVENT is null %}
                                1st Hash
                              {% else %}
                                {{item.DAYS_SINCE_LAST_EVENT}}
                              {% endif %}
                            </div>
                            <div class="col-xs-8 visible-xs"  style="background-color:{{bgcolor}};">Last Hash</div>
                            <div class="col-xs-4 col-md-2"    style="background-color:{{bgcolor}};">
                              {% if item.PREVIOUS_EVENT_NUMBER is null %}
                                NA
                              {% else %}
                                <a href='/{{kennel_abbreviation}}/hashes/{{item.PREVIOUS_HASH_KEY}}'>#{{item.PREVIOUS_EVENT_NUMBER}}</a>
                              {% endif %}
                            </div>
                            <div class="col-xs-8 visible-xs"  style="background-color:{{bgcolor}};">Last Hash Date</div>
                            <div class="col-xs-4 col-md-3"    style="background-color:{{bgcolor}};">
                              {% if item.PREVIOUS_EVENT_DATE is null %}
                                NA
                              {% else %}
                                {{item.PREVIOUS_EVENT_DATE is empty ? "" : item.PREVIOUS_EVENT_DATE|date("m/d/Y")}}
                              {% endif %}
                            </div>
                            <div class="col-xs-12 visible-xs"></br></div>
                          </div>

                        {% endfor %}

                      {% endif %}

                    </div>
                  </div>
                </div>





  </div>
{% endblock %}
