{% extends "parent_hasher_form.twig" %}

{% block formContent %}


  <br>
  <a href="/admin/deleteHasher/{{hasherValue.HASHER_KY}}">Delete this jerk</a>
  <br>

  {{ form_row(form.HASHER_NAME) }}
  {{ form_row(form.HASHER_ABBREVIATION) }}
  {{ form_row(form.LAST_NAME) }}
  {{ form_row(form.FIRST_NAME) }}
  {{ form_row(form.HOME_KENNEL) }}
  {{ form_row(form.DECEASED) }}
  {{ form_row(form._token) }}



{% endblock %}
