{% extends "admin_base.twig" %}

{% block template %}
  <script type = "text/javascript" src = "/vendor/components/jquery/jquery.min.js"></script>
  <script type = "text/javascript" src = "/vendor/ifightcrime/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
  <script type = "text/javascript" language = "javascript">



function displayMessage(messageValue){

  //Determine the type of message to display
  var indexLocation = messageValue.indexOf("Success!");
  var messageType = "";
  if(indexLocation >= 0){
    messageType = "success";
  }else {
    messageType = "danger";
  }

  $.bootstrapGrowl(messageValue, {
    ele: 'body', // which element to append to
    type: messageType, // (null, 'info', 'error', 'success')
    offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
    align: 'center', // ('left', 'right', or 'center')
    width: 'auto', // (integer, or 'auto')
    delay: 4000,
    allow_dismiss: true,
    stackup_spacing: 10 // spacing between consecutively stacked growls.
  });

}

  //Function to get hares for the event
  function getHares(hash_key){
   var formData = {hash_key:hash_key};
   $.ajax({
       url : "/admin/event/getHaresForEvent",
       type: "POST",
       data : formData,
       dataType : 'json',
       success: function(data, textStatus, jqXHR){

         $('#hare-list').empty();

         $.each(data, function(key,row) {
           $('#hare-list').append('<dt>'+ row.HASHER_NAME + '</dt>');
           var linkOne = "<a href=/hashers/" +row.HASHER_KY+ ">Details</a>";
           var linkTwo = '<a href="javascript:deleteHare('+row.HASHER_KY+ ',' + {{hash_key}} +');">Remove hare</a>';
           var linkThree = '<a href="javascript:addHasher('+row.HASHER_KY+ ',' + {{hash_key}} +');">Add as hasher</a>';
           $('#hare-list').append('<dd>' + linkOne + ' | ' + linkTwo + ' | ' + linkThree + '</dd>');

         });
         $('#hare-list').listview('refresh');
       },
       error: function (jqXHR, textStatus, errorThrown){
            alert("failure");
            alert(jqXHR);
            alert(textStatus);
            alert(errorThrown);
       }
   });
 }

 //Function to get hashers for the event
 function getHashers(hash_key){
  var formData = {hash_key:hash_key};
  $.ajax({
      url : "/admin/event/getHashersForEvent",
      type: "POST",
      data : formData,
      dataType : 'json',
      success: function(data, textStatus, jqXHR){

        $('#hasher-list').empty();

        $.each(data, function(key,row) {
          $('#hasher-list').append('<dt>'+ row.HASHER_NAME + '</dt>');
          var linkOne = "<a href=/hashers/" +row.HASHER_KY+ ">Details</a>";
          var linkTwo = '<a href="javascript:deleteHasher('+row.HASHER_KY+ ',' + {{hash_key}} +');">Remove hasher</a>';
          var linkThree = '<a href="javascript:addHare('+row.HASHER_KY+ ',' + {{hash_key}} +');">Add as hare</a>';
          $('#hasher-list').append('<dd>' + linkOne + ' | ' + linkTwo + ' | ' + linkThree + '</dd>');

        });
        $('#hasher-list').listview('refresh');
      },
      error: function (jqXHR, textStatus, errorThrown){
           alert("failure");
           alert(jqXHR);
           alert(textStatus);
           alert(errorThrown);
      }
  });
}


 $(document).ready(function() {
    getHares({{hash_key}});
    getHashers({{hash_key}});
  });

  //Function to add a hasher to the event
  function addHasher(hasher_key, hash_key){
   var formData = {hasher_key:hasher_key,hash_key:hash_key};
   $.ajax({
       url : "/admin/event/addHasherToHash",
       type: "POST",
       data : formData,
       dataType : 'json',
       success: function(data, textStatus, jqXHR){
           getHashers({{hash_key}});
           displayMessage(data);
       },
       error: function (jqXHR, textStatus, errorThrown)
       {
            alert("failure");
            alert(jqXHR);
            alert(textStatus);
            alert(errorThrown);
       }
   });
 }

 //Function to add a hare to the event
 function addHare(hasher_key, hash_key){
  var formData = {hasher_key:hasher_key,hash_key:hash_key};
  $.ajax({
      url : "/admin/event/addHareToHash",
      type: "POST",
      data : formData,
      dataType : 'json',
      success: function(data, textStatus, jqXHR)
      {
          getHares({{hash_key}});
          displayMessage(data);
      },
      error: function (jqXHR, textStatus, errorThrown)
      {
           alert("failure");
           alert(jqXHR);
           alert(textStatus);
           alert(errorThrown);
      }
  });
}


//Function to delete hasher from the event
function deleteHasher(hasher_key, hash_key){
 var formData = {hasher_key:hasher_key,hash_key:hash_key};
 $.ajax({
     url : "/admin/event/deleteHasherFromHash",
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR){
         getHashers({{hash_key}});
         displayMessage(data);
     },
     error: function (jqXHR, textStatus, errorThrown)
     {
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}

//Function to delete hare from the event
function deleteHare(hasher_key, hash_key){
 var formData = {hasher_key:hasher_key,hash_key:hash_key};
 $.ajax({
     url : "/admin/event/deleteHareFromHash",
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR)
     {
         getHares({{hash_key}});
         displayMessage(data);
     },
     error: function (jqXHR, textStatus, errorThrown)
     {
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}


jQuery(document).ready(function($){
    $('.live-search-list li').each(function(){
      $(this).attr('data-search-term', $(this).text().toLowerCase());
    });

  $('.live-search-box').on('keyup', function(){
      var searchTerm = $(this).val().toLowerCase();
      $('.live-search-list li').each(function(){
          if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
              $(this).show();
          } else {
              $(this).hide();
          }
      });
  });

});

  </script>


    <h1>{{pageTitle}}</h1>
    <div id="statusMessage"></div>

    <h3>Hares</h3>
    <dl class="dl-horizontal">
      <div data-role="content">
        <ul data-role="listview" id="hare-list">
        </ul>
      </div>
    </dl>

    <h3>Hashers</h3>
    <dl class="dl-horizontal">
      <div data-role="content">
        <ul data-role="listview" id="hasher-list">
        </ul>
      </div>
    </dl>


      <ul class="live-search-list">
        <input type="text" class="live-search-box" placeholder="search here" />
        {% for item in allHashersList %}
        <li>
          {{item.HASHER_NAME}}|
          {{item.LAST_NAME}}|
          {{item.FIRST_NAME}}|
          {{item.EMAIL}}|
          <a href="javascript:addHasher({{item.HASHER_KY}},{{hash_key}});">Add as hasher</a>|
          <a href="javascript:addHare({{item.HASHER_KY}},{{hash_key}});">Add as hare</a>
        </li>
        {% endfor %}
      </ul>

<br><br><br><br>



{% endblock %}
