{% extends "fullwidth.twig" %}

{% block content %}

    <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script type = "text/javascript" src = "/node_modules/wordcloud/src/wordcloud2.js"></script>
    <script type = "text/javascript" language = "javascript">

    //Function to get hares for the event
    function getVirginHash(hasher_id){
     var formData = {hasher_id:hasher_id};
     $.ajax({
         url : "/{{kennel_abbreviation}}/statistics/hasher/firstHash",
         type: "POST",
         data : formData,
         dataType : 'json',
         success: function(data, textStatus, jqXHR){

          var virginHashEventNumber = "<a href=/{{kennel_abbreviation}}/hashes/" +data.HASH_KY+ ">" + data.KENNEL_EVENT_NUMBER + "</a>";
          $('#virgin_hash_hash_number').empty();
          $('#virgin_hash_hash_number').append(virginHashEventNumber);
          //$('#virgin_hash_hash_number').listview('refresh');

          var virginHashEventDate = data.EVENT_DATE_FORMATTED;
          $('#virgin_hash_event_date').empty();
          $('#virgin_hash_event_date').append(virginHashEventDate);

          var virgin_hash_location = data.EVENT_LOCATION;
          $('#virgin_hash_location').empty();
          $('#virgin_hash_location').append(virgin_hash_location);


          var years_elapsed = data.YEARS_SINCE_EVENT;
          var months_elapsed = data.MONTHS_SINCE_EVENT;
          var days_elapsed = data.DAYS_SINCE_EVENT;
          var time_elapsed = years_elapsed + " year" + ( years_elapsed != 1 ? "s" : "") + ", " + months_elapsed + " month" + ( months_elapsed != 1 ? "s" : "") + ", " + days_elapsed + " day" + ( days_elapsed != 1 ? "s" : "");
          $('#virgin_hashing_elapsed_time').empty();
          $('#virgin_hashing_elapsed_time').append(time_elapsed);

         },
         error: function (jqXHR, textStatus, errorThrown){
              alert("failure");
              alert(jqXHR);
              alert(textStatus);
              alert(errorThrown);
         }
     });
   }

   //Function to get hares for the event
   function getMostRecentHash(hasher_id){
    var formData = {hasher_id:hasher_id};
    $.ajax({
        url : "/{{kennel_abbreviation}}/statistics/hasher/mostRecentHash",
        type: "POST",
        data : formData,
        dataType : 'json',
        success: function(data, textStatus, jqXHR){

         var latestHashEventNumber = "<a href=/{{kennel_abbreviation}}/hashes/" +data.HASH_KY+ ">" + data.KENNEL_EVENT_NUMBER + "</a>";
         $('#latest_hash_hash_number').empty();
         $('#latest_hash_hash_number').append(latestHashEventNumber);
         //$('#virgin_hash_hash_number').listview('refresh');

         var latestHashEventDate = data.EVENT_DATE_FORMATTED;
         $('#latest_hash_event_date').empty();
         $('#latest_hash_event_date').append(latestHashEventDate);

         var latest_hash_location = data.EVENT_LOCATION;
         $('#latest_hash_location').empty();
         $('#latest_hash_location').append(latest_hash_location);


         var years_elapsed = data.YEARS_SINCE_EVENT;
         var months_elapsed = data.MONTHS_SINCE_EVENT;
         var days_elapsed = data.DAYS_SINCE_EVENT;
         var time_elapsed = years_elapsed + " year" + ( years_elapsed != 1 ? "s" : "") + ", " + months_elapsed + " month" + ( months_elapsed != 1 ? "s" : "") + ", " + days_elapsed + " day" + ( days_elapsed != 1 ? "s" : "");
         $('#latest_hashing_elapsed_time').empty();
         $('#latest_hashing_elapsed_time').append(time_elapsed);

        },
        error: function (jqXHR, textStatus, errorThrown){
             alert("failure");
             alert(jqXHR);
             alert(textStatus);
             alert(errorThrown);
        }
    });
  }







//Generic function to retrieve data
function getListData(hasher_id,url_value,div_value, column_one_header, column_two_header){
 var formData = {hasher_id:hasher_id};
 $.ajax({
     url : url_value,
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR){
       $(div_value).empty();

       $(div_value).append('<table class="table table-condensed">');
       $(div_value).append('<thead>');
       $(div_value).append('<tr><td><b>' +column_one_header+'</b></td><td>&nbsp;' +column_two_header+'</td></tr>');
       $(div_value).append('</thead>');



       $.each(data, function(key,row) {
         $(div_value).append('<tr>');
         $(div_value).append('<td><b>'+ row.THE_VALUE + '</b></td>');
         $(div_value).append('<td>&nbsp;'+ row.THE_COUNT + '</td>');
         $(div_value).append('</tr>');
       });

       $(div_value).append('</table>');

     },
     error: function (jqXHR, textStatus, errorThrown){
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}


   //Call these functions upon page load
   $(document).ready(function() {
      getVirginHash({{hasherValue.HASHER_KY}});
      getMostRecentHash({{hasherValue.HASHER_KY}});
      getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/{{hare_type}}/harings/by/quarter","#hasherNonHyperHaringsByQuarter-list","Quarter","Count");
      getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/{{hare_type}}/harings/by/month","#hasherNonHyperHaringsByMonth-list","Month","Count");
      getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/{{hare_type}}/harings/by/state","#hasherNonHyperHaringsByState-list","State","Count");
      getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/{{hare_type}}/harings/by/city","#hasherNonHyperHaringsByCity-list","City","Count");
      getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/coharecount/byhare/{{hare_type}}","#cohareCountByHareNonHypers-list","Hasher","Count");
    });

   </script>




    <div class="container">
      <h1>{{pageTitle}}</h1>
      <h5>
        {% if google_analytics_id != 'none' %}
          <i><a href='/{{kennel_abbreviation}}/hashers/{{hasherValue.HASHER_KY}}?name={{hasherValue.HASHER_NAME|url_encode}}'>View Hound Details</a></i> |
        {% else %}
          <i><a href='/{{kennel_abbreviation}}/hashers/{{hasherValue.HASHER_KY}}'>View Hound Details</a></i> |
        {% endif %}
        {% for hare_type in hare_types %}
	  {% if hare_type.HARE_TYPE_NAME == hare_type_name %}
	    <i>{{hare_type.HARE_TYPE_NAME}} Hare Details</i> |
	  {% else %}
            {% if google_analytics_id != 'none' %}
              <i><a href='/{{kennel_abbreviation}}/hares/{{hare_type.HARE_TYPE}}/{{hasherValue.HASHER_KY}}?name={{hasherValue.HASHER_NAME|url_encode}}'>{{hare_type.HARE_TYPE_NAME}} Hare Details</a></i> |
            {% else %}
              <i><a href='/{{kennel_abbreviation}}/hares/{{hare_type.HARE_TYPE}}/{{hasherValue.HASHER_KY}}'>{{hare_type.HARE_TYPE_NAME}} Hare Details</a></i> |
            {% endif %}
	  {% endif %}
        {% endfor %}
        {% if google_analytics_id != 'none' %}
          <i><a href='/{{kennel_abbreviation}}/hares/overall/{{hasherValue.HASHER_KY}}?name={{hasherValue.HASHER_NAME|url_encode}}'>Overall Hare Details</a></i>
        {% else %}
          <i><a href='/{{kennel_abbreviation}}/hares/overall/{{hasherValue.HASHER_KY}}'>Overall Hare Details</a></i>
        {% endif %}
      </h5>

      <div class="row">

        <div class="col-sm-5" style="background-color:lime;">
          <h3>Basic Details</h3>
          <dl class="dl-horizontal">
              {% autoescape %}
                <dt>Hasher Name</dt><dd> {{hasherValue.HASHER_NAME}}</dd>
                <dt>Hasher Abbreviation</dt><dd> {{hasherValue.HASHER_ABBREVIATION}} </dd>
                <dt>Last Name</dt><dd> {{hasherValue.LAST_NAME|first}}{% for i in 2..hasherValue.LAST_NAME|length%}{{'*'}}{% endfor %} </dd>
                <dt>First Name</dt><dd> {{hasherValue.FIRST_NAME|first}}{% for i in 2..hasherValue.FIRST_NAME|length%}{{'*'}}{% endfor %}</dd>
                {% if hasherValue.DECEASED == "0000000001" %}
                  <dt>Deceased</dt><dd> Sadly, yes.</dd>
                {% endif %}

                <dt>Total Haring Count</dt><dd> {{overallHareCount}}</dd>
	        {% for harings in hareCounts %}
                  <dt>{{harings.type}} Haring Count</dt><dd>{{harings.total}}</dd>
                {% endfor %}
              {% endautoescape %}
          </dl>
        </div>



        <div class="col-sm-7" style="background-color:silver;">
          <h3>Their harings</h3>
          <dl class="dl-horizontal">
            <a href='/{{kennel_abbreviation}}/coharelist/byhare/{{hare_type}}/{{hasherValue.HASHER_KY}}'>Their {{ hare_type_name }} Haring Cohares</a><br>
            <a href='/{{kennel_abbreviation}}/coharecount/byhare/{{hare_type}}/{{hasherValue.HASHER_KY}}'>Their {{ hare_type_name }} Haring Cohare Count </a><br>
            All of their haring analversaries (Not written yet)<br>
            <a href='/{{kennel_abbreviation}}/getHasherCountsByHare/{{hasherValue.HASHER_KY}}/{{hare_type}}'>Hounds who have hashed their {{ hare_type_name }} harings</a><br>
          </dl>
        </div>

      </div>



      <div class="row">


        <div class="col-sm-6">

          <canvas id="myChart2" width="25" height="25"></canvas>
          <script>
          var ctx = document.getElementById("myChart2");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in harings_by_year_list %}
                      {{individualValue.THE_VALUE}},
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of {{ hare_type_name }} Harings',
                      data: [
                        {% for individualValue in harings_by_year_list %}
                          {{individualValue[hare_type_name ~ '_COUNT']}},
                        {% endfor %}],
                        backgroundColor:'rgba({{chart_color}}, 0.2)',
                        borderColor:'rgba({{chart_color}}, 1)',
                      borderWidth: 1
                  }
                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Harings Per Year'
                  }
              }
          });
          </script>

        </div>

        <div class="col-sm-6">

          <canvas id="myChart3" width="25" height="25"></canvas>
          <script>
          var ctx = document.getElementById("myChart3");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in harings_by_month_list %}
                      "{{individualValue.MONTH_NAME[0:3]}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of {{ hare_type_name }} Harings',
                      data: [
                        {% for individualValue in harings_by_month_list %}
                          {{individualValue[hare_type_name ~ '_COUNT']}},
                        {% endfor %}],
                        backgroundColor:'rgba({{chart_color}}, .2)',
                        borderColor:'rgba({{chart_color}}, 1)',
                      borderWidth: 1
                  }
                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Harings Per Month'
                  }
              }
          });
          </script>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">

          <canvas id="myChart4" width="25" height="25"></canvas>
          <script>
          var ctx = document.getElementById("myChart4");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in harings_by_quarter_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of {{ hare_type_name }} Harings',
                      data: [
                        {% for individualValue in harings_by_quarter_list %}
                          {{individualValue[hare_type_name ~ '_COUNT']}},
                        {% endfor %}],
                        backgroundColor:'rgba({{chart_color}}, 0.2)',
                        borderColor:'rgba({{chart_color}}, 1)',
                      borderWidth: 1
                  }
                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Harings Per Quarter'
                  }
              }
          });
          </script>
        </div>

        <div class="col-sm-6">

          <canvas id="myChart5" width="25" height="25"></canvas>
          <script>
          var ctx = document.getElementById("myChart5");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in harings_by_state_list %}
                      "{{individualValue.EVENT_STATE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of {{ hare_type_name }} Harings',
                      data: [
                        {% for individualValue in harings_by_state_list %}
                          {{individualValue[hare_type_name ~ '_COUNT']}},
                        {% endfor %}],
                        backgroundColor:'rgba({{chart_color}}, 0.2)',
                        borderColor:'rgba({{chart_color}}, 1)',
                      borderWidth: 1
                  }
                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Harings Per State'
                  }
              }
          });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">

          <canvas id="myChart6" width="25" height="25"></canvas>
          <script>
          var ctx = document.getElementById("myChart6");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in harings_by_dayname_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of {{ hare_type_name }} Harings',
                      data: [
                        {% for individualValue in harings_by_dayname_list %}
                          {{individualValue[hare_type_name ~ '_COUNT']}},
                        {% endfor %}],
                        backgroundColor:'rgba({{chart_color}}, 0.2)',
                        borderColor:'rgba({{chart_color}}, 1)',
                      borderWidth: 1
                  }
                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Harings Per Day of the Week'
                  }
              }
          });
          </script>
        </div>

        <div class="col-sm-6">
        </div>
      </div>

      <div class="row">
        <a href="#citylist" class="btn btn-info" data-toggle="collapse">Show Harings By City List</a>
        <a href="#coharelist" class="btn btn-info" data-toggle="collapse">Show Favorite CoHare List</a>
      </div>

      <div class="row">

        <div class="col-sm-6 collapse" style="background-color:yellow" id="citylist">
          <dl class="dl-horizontal">
            <h4>{{ hare_type_name }} Harings by city</h4>
            <div data-role="content" id="hasherNonHyperHaringsByCity-list"></div>
          </dl>
        </div>

        <div class="col-sm-6 collapse" style="background-color:gold" id="coharelist">
          <dl class="dl-horizontal">
            <h4>Favorite {{ hare_type_name }} CoHares</h4>
            <div data-role="content" id="cohareCountByHareNonHypers-list"></div>
          </dl>
        </div>
      </div>

      <div class="row">
        <div id = "div_one" class="col-sm-12" style="width:100%;height:600px">
          <h4>{{ hare_type_name }} Harings By City</h4>
          <canvas id="my_canvas" class="wordcloud"></canvas>
        </div>
      </div>
      <div class="row">
        <div id = "div_two" class="col-sm-12" style="width:100%;height:600px">
          <h4>Favorite {{ hare_type_name }} CoHares</h4>
          <canvas id="my_canvas2" class="wordcloud"></canvas>
        </div>
      </div>

      <script type = "text/javascript" language = "javascript">
          var canvas = document.getElementById("my_canvas");
          var parent = document.getElementById("div_one");
          canvas.width = parent.offsetWidth;
          canvas.height = parent.offsetHeight;

          var canvas2 = document.getElementById("my_canvas2");
          var parent2 = document.getElementById("div_two");
          canvas2.width = parent.offsetWidth;
          canvas2.height = parent.offsetHeight;
      </script>

      <script>



            var options = {
              list: [
                {% for item in city_haring_count_list %}
                    [
                    "{% autoescape 'js' %}{{item.THE_VALUE}}{% endautoescape %}"
                    ,
                    "{{min(80,item.THE_COUNT * 5)}}"],
                {% endfor %}
              ],
              drawMask: false,
              shape: "diamond",
              gridSize: 5,
              drawOutOfBound: false
            };

            WordCloud(document.getElementById('my_canvas'), options );
      </script>

      <script>
            var options2 = {
              list: [
                {% for item in cohare_count_list %}
                    [
                      "{% autoescape false %}{{item.THE_VALUE[:18]}}{% endautoescape %}"
                    ,"{{min(80,item.THE_COUNT * 5)}}"],
                {% endfor %}
              ],
              drawMask: false,
              shape: "diamond",
              gridSize: 5,
              drawOutOfBound: false
            };

            WordCloud(document.getElementById('my_canvas2'), options2 );
      </script>

      <div class="row"><br><br><br><br>
      </div>


      <!--  ------------------------------------------------------------------------->

          <div class="row"><h2>Event Map</h2>
            <div id="TheMap1" class="col-sm-10"></div>
              <style>
              #TheMap1{
                height: 100%;
              }
              </style>
          </div>
          <br><br><br><br><br><br><br>

            <script>

              var map1;
              function initMap1(){
                map1 = new google.maps.Map(document.getElementById('TheMap1'),{
                  zoom: 10,
                  center: new google.maps.LatLng( {{avg_lat}}, {{avg_lng}} )
                  //mapTypeId: 'terrain'
                });


                {% for hashEventValue in the_hashes %}
                  var event_num = "#{{hashEventValue.KENNEL_EVENT_NUMBER | escape('html')}}";
                  var event_description = "{{hashEventValue.SPECIAL_EVENT_DESCRIPTION | escape('html')}}";
                  var event_location = "{{hashEventValue.EVENT_LOCATION | escape('html')}}";
                  var event_date = "{{hashEventValue.EVENT_DATE | date("m/d/Y" ) | escape('html')}}";

                  var textValue = "{{kennel_abbreviation}}"+ event_num +":" + event_description + " at " + event_location + " on " + event_date;
                  var eventLink = "/{{kennel_abbreviation}}/hashes/{{hashEventValue.HASH_KY}}";
                  var marker = new google.maps.Marker({
                    position: {lat: {{hashEventValue.LAT}}, lng:{{hashEventValue.LNG}}},
                    map: map1,
                    title: textValue,
                    url: eventLink
                  });
                  google.maps.event.addListener(marker,'click', function(){
                    window.open(this.url);
                  });
                {% endfor %}
              }

            </script>


            <!--  ------------------------------------------------------------------------->



            <div class="row"><h2>Heat Map</h2>
              <div id="TheMap2" class="col-sm-10"></div>
                <style>
                #TheMap2{
                  height: 100%;
                }
                </style>
            </div>
            <br><br><br><br><br><br><br>

            <script>
              var map2,heatmap;
              function initMap2(){
                map2 = new google.maps.Map(document.getElementById('TheMap2'),{
                  zoom: 11,
                  center: new google.maps.LatLng( {{avg_lat}}, {{avg_lng}} ),
                  mapTypeId: 'terrain'
                });

                heatmap = new google.maps.visualization.HeatmapLayer({
                  data: getPoints2(),
                  map: map2
                });

                changeGradient();
                changeRadius();
              }

              function getPoints2() {
                return [
                  {% for hashEventValue in the_hashes %}
                  new google.maps.LatLng(
                    {{hashEventValue.LAT}}, {{hashEventValue.LNG}}
                  ),
                  {% endfor %}
                ];
              }

              function toggleHeatmap() {
                heatmap.setMap(heatmap.getMap() ? null : map2);
              }

              function changeGradient() {
                var gradient = [
                  'rgba(0, 255, 255, 0)',
                  'rgba(0, 255, 255, 1)',
                  'rgba(0, 191, 255, 1)',
                  'rgba(0, 127, 255, 1)',
                  'rgba(0, 63, 255, 1)',
                  'rgba(0, 0, 255, 1)',
                  'rgba(0, 0, 223, 1)',
                  'rgba(0, 0, 191, 1)',
                  'rgba(0, 0, 159, 1)',
                  'rgba(0, 0, 127, 1)',
                  'rgba(63, 0, 91, 1)',
                  'rgba(127, 0, 63, 1)',
                  'rgba(191, 0, 31, 1)',
                  'rgba(255, 0, 0, 1)'
                ]
                heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
              }

              function changeRadius() {
                heatmap.set('radius', heatmap.get('radius') ? null : 30);
              }

              function changeOpacity() {
                heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
              }
            </script>


            <!--  ------------------------------------------------------------------------->

              <div class="row"><h2>Cluster Map</h2>
                <div id="TheMap3" class="col-sm-10"></div>
                  <style>
                  #TheMap3{
                    height: 100%;
                  }
                  </style>
              </div>
              <br><br><br><br><br><br><br>

              <script>
                var locations3 = getPoints3();

                function getPoints3() {
                  return [
                    {% for hashEventValue in the_hashes %}
                      { lat:{{hashEventValue.LAT}}, lng:{{hashEventValue.LNG}} },
                    {% endfor %}
                  ];
                }

                var map3;
                function initMap3(){

                  var map3 = new google.maps.Map(document.getElementById('TheMap3'), {
                    zoom: 9,
                    center: {lat:  {{avg_lat}}, lng: {{avg_lng}}}
                  });

                  var markers3 = locations3.map(function(location, i) {
                   return new google.maps.Marker({
                     position: location
                   });
                  });

                  // Add a marker clusterer to manage the markers.
                  var markerCluster = new MarkerClusterer(
                    map3,
                    markers3,
                    //{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'}
                    {imagePath: '/web/images/google_map_cluster_map/m'}
                  );

                }
              </script>
              <script src="/web/javascript/markerclusterer/markerclusterer.js"></script>

              <script>
                function initMapX(){
                  initMap1();
                  initMap2();
                  initMap3();
                }
              </script>
              <script async defer src="https://maps.googleapis.com/maps/api/js?key={{geocode_api_value}}&callback=initMapX&libraries=visualization">
              </script>




          </div>


    

{% endblock %}
