{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-4">
          <h3>Percentages</h3>
          <a href='/{{kennel_abbreviation}}/haringPercentageAllHashes' >Hashings to harings percentage</a> <br>
          <a href='/{{kennel_abbreviation}}/haringPercentageNonHypers' >Hashings to harings percentage (excluding hypers)</a><br>
          <a href='/{{kennel_abbreviation}}/percentages/percentageofharingsthatwerehypers' >Hyper vs non-hyper haring percentages </a><br>
        </div>

        <div class="col-lg-4">
          <h3>By Attendance</h3>
          <a href='/{{kennel_abbreviation}}/hashattendance/byhare/lowest' >Lowest Attended Hash by Hare</a><br>
          <a href='/{{kennel_abbreviation}}/hashattendance/byhare/highest' >Highest Attended Hash by Hare</a><br>
          <a href='/{{kennel_abbreviation}}/hashattendance/byhare/average' >Average Hash Attendance by Hare</a><br>
        </div>

        <div class="col-lg-4">
          <h3>Totals</h3>
          <a href='/{{kennel_abbreviation}}/hashattendance/byhare/grandtotal/nondistincthashers' > Grand total Attendance by Hare</a><br>
          <a href='/{{kennel_abbreviation}}/hashattendance/byhare/grandtotal/distincthashers' >Grand total attendance by Hare (distinct people excluding themselves)</a><br>
        </div>
      </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <h3>Career Haring Statistics</h3>
              <a href='/{{kennel_abbreviation}}/highest/allharings/averageDaysBetweenHarings'>Highest Number of Days between Harings (All) </a><br>
              <a href='/{{kennel_abbreviation}}/lowest/allharings/averageDaysBetweenHarings'>Lowest Number of Days between Harings (All) </a><br>
              <a href='/{{kennel_abbreviation}}/lowest/nonhyperharings/averageDaysBetweenHarings'>Lowest Number of Days between Harings (Non-Hypers Only)</a><br>
              <a href='/{{kennel_abbreviation}}/highest/nonhyperharings/averageDaysBetweenHarings'>Highest Number of Days between Harings (Non-Hypers Only)</a><br>
          </div>

          <div class="col-lg-6">
            <h3>Best hares for each year</h3>
              <a href='/{{kennel_abbreviation}}/hares/overall/of/the/years'>Most active hares (all hashes) </a><br>
              <a href='/{{kennel_abbreviation}}/hares/nonhyper/of/the/years'>Most active hares (non-hyper hashes) </a><br>
          </div>

        </div>


      </div>

{% endblock %}
