{% extends "fullwidth.twig" %}

{% block content %}
    <h1>{{pageTitle}}</h1>

    <div class="col-sm-6">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          More Info
        </a>
        <a class="list-group-item" href='/{{kennel_abbreviation}}/hasherAnalversariesForEvent/{{hashValue.HASH_KY}}'>Hound Analversaries For This Event</a>
        <a class="list-group-item" href='/{{kennel_abbreviation}}/hareAnalversariesForEvent/{{hashValue.HASH_KY}}'>Hare Analversaries For This Event</a>
        <a class="list-group-item" href='/{{kennel_abbreviation}}/listhashers/byhash/{{hashValue.HASH_KY}}'>Hounds at this event</a>
        <a class="list-group-item" href='/{{kennel_abbreviation}}/listhares/byhash/{{hashValue.HASH_KY}}'>Hares at this event</a>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Basic Info
        </div>
        <div class="panel-body">
          <table id="table" class="table table-hover">
              <tbody>
                <tr data-index="0"><td class="key" style="">Event Number</td><td style="">{{hashValue.KENNEL_EVENT_NUMBER}}</td></tr>
                <tr data-index="1"><td class="key" style="">Date</td><td style="">{{hashValue.EVENT_DATE}}</td></tr>
                <tr data-index="2"><td class="key" style="">Location</td><td style="">{{hashValue.EVENT_LOCATION}}</td></tr>
                <tr data-index="3"><td class="key" style="">City</td><td style="">{{hashValue.EVENT_CITY}}</td></tr>
                <tr data-index="4"><td class="key" style="">State</td><td style="">{{hashValue.EVENT_STATE}}</td></tr>
                <tr data-index="5"><td class="key" style="">Description</td><td style="">{{hashValue.SPECIAL_EVENT_DESCRIPTION}}</td></tr>
                <tr data-index="6">
                  <td class="key" style="">Hyper Hash ?</td>
                  <td style="">
                    {% if hashValue.IS_HYPER == "0000000000" %}
                      No
                    {% else %}
                      Yes
                    {% endif %}
                </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>



{% endblock %}
