{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <div class="list-group">
            <a href="#1" class="list-group-item active">Standard Statistics</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hashingCounts">Hashing Counts</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/highest/attendedHashes">Best attended hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/lowest/attendedHashes">Worst attended hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hashers/of/the/years">Most active hashers by year(s)</a>
            <a class="list-group-item" href="#11"><strike>Attendance statistics by year (Not written)</strike></a>
            <a class="list-group-item" href="#12"><strike>Attendance statistics by month (Not written)</strike></a>
            <a class="list-group-item" href="#13"><strike>Attendance statistics by state (Not written)</strike></a>
          </div>
        </div>


        <div class="col-lg-6">
          <div class="list-group">
            <a href="#2" class="list-group-item active">Career Stats</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/longest/career">Longest hashing career (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/highest/averageDaysBetweenHashes">Highest number of days between hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/lowest/averageDaysBetweenHashes">Lowest number of days between hashes</a>
          </div>
        </div>



      </div>

      <div class="row marketing">
        <div class="col-lg-4">
          <div class="list-group">
            <a href="#3" class="list-group-item active">Quickest to reach Analversaries</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/5/quickest/to/reach/bydays">Quickest to 5 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/10/quickest/to/reach/bydays">Quickest to 10 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/25/quickest/to/reach/bydays">Quickest to 25 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/50/quickest/to/reach/bydays">Quickest to 50 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/69/quickest/to/reach/bydays">Quickest to 69 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/100/quickest/to/reach/bydays">Quickest to 100 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/200/quickest/to/reach/bydays">Quickest to 200 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/300/quickest/to/reach/bydays">Quickest to 300 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/400/quickest/to/reach/bydays">Quickest to 400 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/500/quickest/to/reach/bydays">Quickest to 500 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/600/quickest/to/reach/bydays">Quickest to 600 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/700/quickest/to/reach/bydays">Quickest to 700 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/800/quickest/to/reach/bydays">Quickest to 800 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/900/quickest/to/reach/bydays">Quickest to 900 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/1000/quickest/to/reach/bydays">Quickest to 1000 (in days)</a>
        </div>
      </div>

        <div class="col-lg-4">
          <div class="list-group">
            <a href="#4" class="list-group-item active">Slowest to reach Analversaries</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/5/slowest/to/reach/bydays">Slowest to 5 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/10/slowest/to/reach/bydays">Slowest to 10 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/25/slowest/to/reach/bydays">Slowest to 25 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/50/slowest/to/reach/bydays">Slowest to 50 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/69/slowest/to/reach/bydays">Slowest to 69 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/100/slowest/to/reach/bydays">Slowest to 100 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/200/slowest/to/reach/bydays">Slowest to 200 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/300/slowest/to/reach/bydays">Slowest to 300 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/400/slowest/to/reach/bydays">Slowest to 400 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/500/slowest/to/reach/bydays">Slowest to 500 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/600/slowest/to/reach/bydays">Slowest to 600 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/700/slowest/to/reach/bydays">Slowest to 700 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/800/slowest/to/reach/bydays">Slowest to 800 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/900/slowest/to/reach/bydays">Slowest to 900 (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/1000/slowest/to/reach/bydays">Slowest to 1000 (in days)</a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="list-group">
            <a href="#5" class="list-group-item active">Chronological order of Analversaries</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/5/quickest/to/reach/date">5 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/10/quickest/to/reach/date">10 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/25/quickest/to/reach/date">25 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/50/quickest/to/reach/date">50 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/69/quickest/to/reach/date">69 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/100/quickest/to/reach/date">100 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/200/quickest/to/reach/date">200 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/300/quickest/to/reach/date">300 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/400/quickest/to/reach/date">400 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/500/quickest/to/reach/date">500 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/600/quickest/to/reach/date">600 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/700/quickest/to/reach/date">700 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/800/quickest/to/reach/date">800 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/900/quickest/to/reach/date">900 Hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/1000/quickest/to/reach/date">1000 Hashes</a>
          </div>
        </div>

      </div>

{% endblock %}
