{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <div class="list-group">
            <a href="#1" class="list-group-item active">Standard Statistics</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hashingCounts">Hashing Counts</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/highest/attendedHashes">Best attended hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/lowest/attendedHashes">Worst attended hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/hashers/of/the/years">Most active hashers by year(s)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/attendanceStatistics">Event Attendance Statistics</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/trendingHashers/180">Trending Hashers!</a>
          </div>
        </div>


        <div class="col-lg-6">
          <div class="list-group">
            <a href="#2" class="list-group-item active">Career Stats</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/longest/career">Longest hashing career (in days)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/highest/averageDaysBetweenHashes">Highest number of days between hashes</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/lowest/averageDaysBetweenHashes">Lowest number of days between hashes</a>
          </div>
        </div>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <div class="list-group">
            <a href="#1" class="list-group-item active">Group Membership Stats</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/everyones/latest/hashes/5">Everyone's latest hash (by date)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/everyones/first/hashes/5">Everyone's first hash (by date)</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/firstTimersStatistics/5">First Timers Charts</a>
            <a class="list-group-item" href="/{{kennel_abbreviation}}/lastTimersStatistics/5/6">Last Timers Charts</a>
          </div>
        </div>
      </div>




{% endblock %}
