{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Standard Statistics</h3>
          <a href="/{{kennel_abbreviation}}/hashingCounts">Hashing Counts</a><br>
          Best attended Hashes <br>
          Worst attended Hashes <br>
          Attendance statistics by year <br>
          Attendance statistics by month <br>
          Attendance statistics by state <br>
        </div>


        <div class="col-lg-6">
          <h3>Career Stats</h3>
          <a href="/{{kennel_abbreviation}}/longest/career">Longest hashing career (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/highest/averageDaysBetweenHashes">Highest number of days between hashes</a><br>
          <a href="/{{kennel_abbreviation}}/lowest/averageDaysBetweenHashes">Lowest number of days between hashes</a><br>
        </div>



      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Those quickest to reach Analversaries</h3>
          <a href="/{{kennel_abbreviation}}/5/quickest/to/reach/bydays">Quickest to 5 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/10/quickest/to/reach/bydays">Quickest to 10 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/25/quickest/to/reach/bydays">Quickest to 25 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/50/quickest/to/reach/bydays">Quickest to 50 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/69/quickest/to/reach/bydays">Quickest to 69 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/100/quickest/to/reach/bydays">Quickest to 100 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/200/quickest/to/reach/bydays">Quickest to 200 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/300/quickest/to/reach/bydays">Quickest to 300 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/400/quickest/to/reach/bydays">Quickest to 400 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/500/quickest/to/reach/bydays">Quickest to 500 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/600/quickest/to/reach/bydays">Quickest to 600 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/700/quickest/to/reach/bydays">Quickest to 700 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/800/quickest/to/reach/bydays">Quickest to 800 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/900/quickest/to/reach/bydays">Quickest to 900 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/1000/quickest/to/reach/bydays">Quickest to 1000 (in days)</a></br>
        </div>

        <div class="col-lg-6">
          <h3>Those slowest to reach Analversaries</h3>
          <a href="/{{kennel_abbreviation}}/5/slowest/to/reach/bydays">Slowest to 5 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/10/slowest/to/reach/bydays">Slowest to 10 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/25/slowest/to/reach/bydays">Slowest to 25 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/50/slowest/to/reach/bydays">Slowest to 50 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/69/slowest/to/reach/bydays">Slowest to 69 (in days)</a><br>
          <a href="/{{kennel_abbreviation}}/100/slowest/to/reach/bydays">Slowest to 100 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/200/slowest/to/reach/bydays">Slowest to 200 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/300/slowest/to/reach/bydays">Slowest to 300 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/400/slowest/to/reach/bydays">Slowest to 400 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/500/slowest/to/reach/bydays">Slowest to 500 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/600/slowest/to/reach/bydays">Slowest to 600 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/700/slowest/to/reach/bydays">Slowest to 700 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/800/slowest/to/reach/bydays">Slowest to 800 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/900/slowest/to/reach/bydays">Slowest to 900 (in days)</a></br>
          <a href="/{{kennel_abbreviation}}/1000/slowest/to/reach/bydays">Slowest to 1000 (in days)</a></br>
        </div>

      </div>

{% endblock %}
