{% extends "fullwidth.twig" %}

{% block content %}

  <div class="container">
    <h1>{{pageTitle}}</h1>
    <h2>{{pageSubTitle}}</h2>

    {% set winning = "#d4efdf" %}
    {% set losing = "#f2d7d5" %}
    {% set tying = "#fcf3cf" %}

    <div class="row">
      <div class="col-xs-12 col-md-4" style="background-color:#d3d3d3;"></div>
      <div class="col-xs-6 col-md-4" style="background-color:#d3d3d3;">{{hasherName1}}</div>
      <div class="col-xs-6 col-md-4" style="background-color:#d3d3d3;">{{hasherName2}}</div>
    </div>

    {% for item in tempList %}

      {% if item.verdict == 'hasher1'%}
        {% set t1bgcolor = winning %}
        {% set t2bgcolor = losing %}
      {% elseif  item.verdict == 'hasher2' %}
        {% set t1bgcolor = losing %}
        {% set t2bgcolor = winning %}
      {% else %}
        {% set t1bgcolor = tying %}
        {% set t2bgcolor = tying %}
      {% endif %}

      <div class="row">
        <div class="col-xs-12 col-md-4" style="background-color:#d3d3d3;">{{item.statName}}</div>
        <div class="col-xs-6 col-md-4" style="background-color:{{t1bgcolor}};">
          {% if item.dataType == "float" %}
            {{(item.val1 * 100) | number_format(0,'.',',')}} %
          {% elseif item.dataType == "int" %}
            {{item.val1}}
          {% elseif item.dataType == "date" %}
            {% if item.hashKey1 == "" %}
              {{item.val1}}
            {% else %}
              <a href=/{{kennel_abbreviation}}/hashes/{{item.hashKey1}}> {{item.val1}} </a>
            {% endif %}
          {% endif %}
        </div>
        <div class="col-xs-6 col-md-4" style="background-color:{{t2bgcolor}};">
          {% if item.dataType == "float" %}
            {{(item.val2 * 100) | number_format(0,'.',',')}} %
          {% elseif item.dataType == "int" %}
            {{item.val2}}
          {% elseif item.dataType == "date" %}
            {% if item.hashKey2 == "" %}
              {{item.val2}}
            {% else %}
              <a href=/{{kennel_abbreviation}}/hashes/{{item.hashKey2}}> {{item.val2}} </a>
            {% endif %}
          {% endif %}
         </div>
      </div>

    {% endfor %}

  </div>
{% endblock %}
