{% extends "fullwidth.twig" %}

{% block content %}

    <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script type = "text/javascript" src = "/node_modules/wordcloud/src/wordcloud2.js"></script>
    <script type = "text/javascript" language = "javascript">

    //Function to get hares for the event
    function getVirginHash(hasher_id){
     var formData = {hasher_id:hasher_id};
     $.ajax({
         url : "/{{kennel_abbreviation}}/statistics/hasher/firstHash",
         type: "POST",
         data : formData,
         dataType : 'json',
         success: function(data, textStatus, jqXHR){

          var virginHashEventNumber = "<a href=/{{kennel_abbreviation}}/hashes/" +data.HASH_KY+ ">" + data.KENNEL_EVENT_NUMBER + "</a>";
          $('#virgin_hash_hash_number').empty();
          $('#virgin_hash_hash_number').append(virginHashEventNumber);
          //$('#virgin_hash_hash_number').listview('refresh');

          var virginHashEventDate = data.EVENT_DATE_FORMATTED;
          $('#virgin_hash_event_date').empty();
          $('#virgin_hash_event_date').append(virginHashEventDate);

          var virgin_hash_location = data.EVENT_LOCATION;
          $('#virgin_hash_location').empty();
          $('#virgin_hash_location').append(virgin_hash_location);


          var years_elapsed = data.YEARS_SINCE_EVENT;
          var months_elapsed = data.MONTHS_SINCE_EVENT;
          var days_elapsed = data.DAYS_SINCE_EVENT;
          var time_elapsed = years_elapsed + " years, " + months_elapsed + " months, " + days_elapsed + " days";
          $('#virgin_hashing_elapsed_time').empty();
          $('#virgin_hashing_elapsed_time').append(time_elapsed);

         },
         error: function (jqXHR, textStatus, errorThrown){
              alert("failure");
              alert(jqXHR);
              alert(textStatus);
              alert(errorThrown);
         }
     });
   }

   //Function to get hares for the event
   function getMostRecentHash(hasher_id){
    var formData = {hasher_id:hasher_id};
    $.ajax({
        url : "/{{kennel_abbreviation}}/statistics/hasher/mostRecentHash",
        type: "POST",
        data : formData,
        dataType : 'json',
        success: function(data, textStatus, jqXHR){

         var latestHashEventNumber = "<a href=/{{kennel_abbreviation}}/hashes/" +data.HASH_KY+ ">" + data.KENNEL_EVENT_NUMBER + "</a>";
         $('#latest_hash_hash_number').empty();
         $('#latest_hash_hash_number').append(latestHashEventNumber);
         //$('#virgin_hash_hash_number').listview('refresh');

         var latestHashEventDate = data.EVENT_DATE_FORMATTED;
         $('#latest_hash_event_date').empty();
         $('#latest_hash_event_date').append(latestHashEventDate);

         var latest_hash_location = data.EVENT_LOCATION;
         $('#latest_hash_location').empty();
         $('#latest_hash_location').append(latest_hash_location);


         var years_elapsed = data.YEARS_SINCE_EVENT;
         var months_elapsed = data.MONTHS_SINCE_EVENT;
         var days_elapsed = data.DAYS_SINCE_EVENT;
         var time_elapsed = years_elapsed + " years, " + months_elapsed + " months, " + days_elapsed + " days";
         $('#latest_hashing_elapsed_time').empty();
         $('#latest_hashing_elapsed_time').append(time_elapsed);

        },
        error: function (jqXHR, textStatus, errorThrown){
             alert("failure");
             alert(jqXHR);
             alert(textStatus);
             alert(errorThrown);
        }
    });
  }







//Generic function to retrieve data
function getListData(hasher_id,url_value,div_value, column_one_header, column_two_header){
 var formData = {hasher_id:hasher_id};
 $.ajax({
     url : url_value,
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR){
       $(div_value).empty();

       $(div_value).append('<table class="table table-condensed">');
       $(div_value).append('<thead>');
       $(div_value).append('<tr><td><b>' +column_one_header+'</b></td><td>&nbsp;' +column_two_header+'</td></tr>');
       $(div_value).append('</thead>');



       $.each(data, function(key,row) {
         $(div_value).append('<tr>');
         $(div_value).append('<td><b>'+ row.THE_VALUE + '</b></td>');
         $(div_value).append('<td>&nbsp;'+ row.THE_COUNT + '</td>');
         $(div_value).append('</tr>');
       });

       $(div_value).append('</table>');

     },
     error: function (jqXHR, textStatus, errorThrown){
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}


   //Call these functions upon page load
   $(document).ready(function() {
      getVirginHash({{hasherValue.HASHER_KY}});
      getMostRecentHash({{hasherValue.HASHER_KY}});
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/year","#hasherHashesByYear-list","Year","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/quarter","#hasherHashesByQuarter-list","Quarter","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/month","#hasherHashesByMonth-list","Month","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/dayname","#hasherHashesByDay-list","Day Name","Count");
      getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/city","#hasherHashesByCity-list","City","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/state","#hasherHashesByState-list","State","Count");


      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/year","#hasherHaringsByYear-list","Year","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/quarter","#hasherHaringsByQuarter-list","Quarter","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/month","#hasherHaringsByMonth-list","Month","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/dayname","#hasherHaringsByDay-list","Day Name","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/city","#hasherHaringsByCity-list","City","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/state","#hasherHaringsByState-list","State","Count");





      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/year","#hasherNonHyperHaringsByYear-list","Year","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/quarter","#hasherNonHyperHaringsByQuarter-list","Quarter","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/month","#hasherNonHyperHaringsByMonth-list","Month","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/state","#hasherNonHyperHaringsByState-list","State","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/city","#hasherNonHyperHaringsByCity-list","City","Count");


      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/coharecount/byhare/nonhypers","#cohareCountByHareNonHypers-list","Hasher","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/coharecount/byhare/onlyhypers","#cohareCountByHareOnlyHypers-list","Hasher","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/coharecount/byhare/allhashes","#cohareCountByHareAllHashes-list","Hasher","Count");


    });

   </script>




    <div class="container">
      <h1>{{pageTitle}}</h1>
      <h5>
        Hound Details |
        <i><a href='/{{kennel_abbreviation}}/hares/overall/{{hasherValue.HASHER_KY}}?name={{hasherValue.HASHER_NAME|url_encode}}'>Overall Hare Details</a></i> |
        <i><a href='/{{kennel_abbreviation}}/hares/true/{{hasherValue.HASHER_KY}}?name={{hasherValue.HASHER_NAME|url_encode}}'>True Hare Details</a></i> |
        <i><a href='/{{kennel_abbreviation}}/hares/hyper/{{hasherValue.HASHER_KY}}?name={{hasherValue.HASHER_NAME|url_encode}}'>Hyper Hare Details</a></i>
      </h5>


      <div class="row">

        <div class="col-sm-5" style="background-color:lime;">
          <h3>Basic Details</h3>
          <dl class="dl-horizontal">
              {% autoescape %}
                <dt>Hasher Name</dt><dd> {{hasherValue.HASHER_NAME}}</dd>
                <dt>Hasher Abbreviation</dt><dd> {{hasherValue.HASHER_ABBREVIATION}} </dd>
                <dt>Last Name</dt><dd> {{hasherValue.LAST_NAME|first}}{% for i in 2..hasherValue.LAST_NAME|length%}{{'*'}}{% endfor %} </dd>
                <dt>First Name</dt><dd> {{hasherValue.FIRST_NAME|first}}{% for i in 2..hasherValue.FIRST_NAME|length%}{{'*'}}{% endfor %}</dd>
                {% if hasherValue.DECEASED == "0000000001" %}
                  <dt>Deceased</dt><dd> Sadly, yes.</dd>
                {% endif %}
                <dt>Hashing Count</dt><dd> {{hashCount}}</dd>
                <dt>Haring Count</dt><dd> {{hareCount}}</dd>
              {% endautoescape %}
          </dl>
        </div>

        <div class="col-sm-7" style="background-color:silver;">
          <h3>Their hashings</h3>
          <dl class="dl-horizontal">
            <a href='/{{kennel_abbreviation}}/listhashes/byhasher/{{hasherValue.HASHER_KY}}'>Their hashings</a><br>
            <a href='/{{kennel_abbreviation}}/getHasherAnalversaries/{{hasherValue.HASHER_KY}}'>Their hashing analversaries</a><br>
            <a href='/{{kennel_abbreviation}}/getProjectedHasherAnalversaries/{{hasherValue.HASHER_KY}}'>Their *predicted* hashing analversaries</a><br>
            Hounds who have hashed with them (Not written yet)<br>
            {#
            <a href='/{{kennel_abbreviation}}/getHasherCountsByHound/{{hasherValue.HASHER_KY}}'>Hounds who have hashed with them (Not written yet)</a><br>
            #}
            <a href='/{{kennel_abbreviation}}/attendanceRecordForHasher/{{hasherValue.HASHER_KY}}'>Attendance Record</a>
          </dl>
        </div>



      </div>

      <div class="row">

        <div class="col-sm-6" style="background-color:yellow">
          <h3>Their first hashing</h3>
          <dl class="dl-horizontal">
            <dt>Hash Number</dt>
            <dd>
              <div data-role="content" id="virgin_hash_hash_number"></div>
            </dd>
            <dt>Hash Date</dt>
            <dd>
              <div data-role="content" id="virgin_hash_event_date"></div>
            </dd>
            <dt>Hash Location</dt>
            <dd>
              <div data-role="content" id="virgin_hash_location"></div>
            </dd>
            <dt>Time Elapsed</dt>
            <dd>
                <div data-role="content" id="virgin_hashing_elapsed_time"></div>
            </dd>
          </dl>
        </div>


        <div class="col-sm-6" style="background-color:silver">
          <h3>Their latest hashing</h3>
          <dl class="dl-horizontal">
            <dt>Hash Number</dt>
            <dd>
              <div data-role="content" id="latest_hash_hash_number"></div>
            </dd>
            <dt>Hash Date</dt>
            <dd>
              <div data-role="content" id="latest_hash_event_date"></div>
            </dd>
            <dt>Hash Location</dt>
            <dd>
              <div data-role="content" id="latest_hash_location"></div>
            </dd>
            <dt>Time Elapsed</dt>
            <dd>
              <div data-role="content" id="latest_hashing_elapsed_time"></div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">

          <canvas id="myChart" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_year_list %}
                      {{individualValue.THE_VALUE}},
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_year_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(54, 162, 235, 0.2)',
                      borderColor:'rgba(54, 162, 235, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes Per Year'
                  }
              }
          });
          </script>

        </div>






      </div>




      <div class="row">
        <div class="col-sm-6">
          <canvas id="myChart3" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart3");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_month_name_list %}
                      "{{individualValue.MONTH_NAME[0:3]}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_month_name_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(132, 234, 183,.2)',
                      borderColor:'rgba(132, 234, 183,1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By Month'
                  }
              }
          });
          </script>

        </div>

        <div class="col-sm-6">

          <canvas id="myChart4" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart4");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_quarter_list %}
                      {{individualValue.THE_VALUE}},
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_quarter_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}],
                        backgroundColor:'rgba(127, 15, 239, 0.2)',
                        borderColor:'rgba(127, 15, 239, 1)',
                      borderWidth: 1
                  }
                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes per Quarter'
                  }
              }
          });
          </script>

        </div>


      </div>

      <div class="row">
        <div class="col-sm-6">
          <canvas id="myChart55" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart55");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_county_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_county_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      backgroundColor:'rgba(127, 15, 239, 0.2)',
                      borderColor:'rgba(127, 15, 239, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By County'
                  }
              }
          });
          </script>
        </div>

        <div class="col-sm-6">
          <canvas id="myChart56" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart56");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_postal_code_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_postal_code_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      //fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(132, 234, 183,.2)',
                      borderColor:'rgba(132, 234, 183,1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By Postal Code'
                  }
              }
          });
          </script>
        </div>
      </div>


      <div class="row">

        <div class="col-sm-6">
          <canvas id="myChart5" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart5");
          var myChart = new Chart(ctx, {
              type: 'polarArea',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_state_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_state_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:[
                        'rgba(132, 234, 183,.2)',
                        'rgba(239, 127, 15, 0.2)',
                        'rgba(239, 15, 15, 0.2)',
                        'rgba(201, 200, 253, 0.2)'
                      ],
                      borderColor:[
                        'rgba(132, 234, 183,1)',
                        'rgba(239, 127, 15, 1)',
                        'rgba(239, 15, 15, 1)',
                        'rgba(201, 200, 253, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By State'
                  }
              }
          });
          </script>

        </div>

        <div class="col-sm-6">
          <canvas id="myChart6" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart6");
          var myChart = new Chart(ctx, {
              type: 'radar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_day_name_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_day_name_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(239, 127, 15, 0.2)',
                      borderColor:'rgba(239, 127, 15, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By Day Name'
                  }
              }
          });
          </script>

        </div>
      </div>

      <div class="row">
        <a href="#citylist" class="btn btn-info" data-toggle="collapse">Show Hashings By City List</a>
      </div>

      <div class="row">

        <div class="col-sm-4 collapse" style="background-color:yellow" id="citylist">
          <dl class="dl-horizontal">
            <h4>Hashes by city</h4>
            <div data-role="content" id="hasherHashesByCity-list"></div>
          </dl>
        </div>

      </div>

      <div class="row">
        <div id = "div_one" class="col-sm-12">
          <h4>Hashes By City</h4>
          <canvas id="my_canvas" class="wordcloud"></canvas>
        </div>
      </div>

      <script type = "text/javascript" language = "javascript">
          var canvas = document.getElementById("my_canvas");
          var parent = document.getElementById("div_one");
          canvas.width = parent.offsetWidth;
          canvas.height = parent.offsetHeight;
      </script>

      <script>
            var options = {
              list: [
                {% for item in city_hashings_count_list %}
                    [
                    "{% autoescape 'js' %}{{item.THE_VALUE}}{% endautoescape %}"
                    ,
                    "{{item.THE_COUNT}}"],
                {% endfor %}
              ],
              drawMask: false,
              shape: "diamond",
              gridSize: 1,
              weightFactor: {{85/city_hashings_max_value}}
            };

            WordCloud(document.getElementById('my_canvas'), options );
      </script>


      <div class="row">
        <div id="map" class="col-sm-12"></div>
          <style>
          #map{
            height: 100%;
          }
          </style>
        </div>
      </div>


      <script>
        var map;
        function initMap(){
          map = new google.maps.Map(document.getElementById('map'),{
            zoom: 10,
            center: new google.maps.LatLng( {{avg_lat}}, {{avg_lng}} )
            //mapTypeId: 'terrain'
          });

          //var latLng = new google.maps.LatLng(2.8, -187.3);
          //var marker = new google.maps.Marker({
        //    position: latLng,
          //  map: map
          //});

        {% for hashEventValue in the_hashes %}
          var marker = new google.maps.Marker({
            //position: new google.maps.LatLng(7,-188);,
            position: {lat: {{hashEventValue.LAT}}, lng:{{hashEventValue.LNG}}},
            map: map
          });
        {% endfor %}




        }

      </script>


      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{geocode_api_value}}&callback=initMap">
      </script>


    </div>

{% endblock %}
