{% extends "fullwidth.twig" %}

{% block content %}

    <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script type = "text/javascript" src = "/node_modules/wordcloud/src/wordcloud2.js"></script>
    <script type = "text/javascript" language = "javascript">

    //Function to get hares for the event
    function getVirginHash(){
     var formData = null;
     $.ajax({
         url : "/{{kennel_abbreviation}}/statistics/kennel/firstHash",
         type: "POST",
         data : formData,
         dataType : 'json',
         success: function(data, textStatus, jqXHR){

          var virginHashEventNumber = "<a href=/{{kennel_abbreviation}}/hashes/" +data.HASH_KY+ ">" + data.KENNEL_EVENT_NUMBER + "</a>";
          $('#virgin_hash_hash_number').empty();
          $('#virgin_hash_hash_number').append(virginHashEventNumber);
          //$('#virgin_hash_hash_number').listview('refresh');

          var virginHashEventDate = data.EVENT_DATE_FORMATTED;
          $('#virgin_hash_event_date').empty();
          $('#virgin_hash_event_date').append(virginHashEventDate);

          var virgin_hash_location = data.EVENT_LOCATION;
          $('#virgin_hash_location').empty();
          $('#virgin_hash_location').append(virgin_hash_location);


          var years_elapsed = data.YEARS_SINCE_EVENT;
          var months_elapsed = data.MONTHS_SINCE_EVENT;
          var days_elapsed = data.DAYS_SINCE_EVENT;
          var time_elapsed = years_elapsed + " year" + ( years_elapsed != 1 ? "s" : "") + ", " + months_elapsed + " month" + ( months_elapsed != 1 ? "s" : "") + ", " + days_elapsed + " day" + ( days_elapsed != 1 ? "s" : "");
          $('#virgin_hashing_elapsed_time').empty();
          $('#virgin_hashing_elapsed_time').append(time_elapsed);

         },
         error: function (jqXHR, textStatus, errorThrown){
              alert("failure");
              alert(jqXHR);
              alert(textStatus);
              alert(errorThrown);
         }
     });
   }

   //Function to get hares for the event
   function getMostRecentHash(){
    var formData = null;
    $.ajax({
        url : "/{{kennel_abbreviation}}/statistics/kennel/mostRecentHash",
        type: "POST",
        data : formData,
        dataType : 'json',
        success: function(data, textStatus, jqXHR){

         var latestHashEventNumber = "<a href=/{{kennel_abbreviation}}/hashes/" +data.HASH_KY+ ">" + data.KENNEL_EVENT_NUMBER + "</a>";
         $('#latest_hash_hash_number').empty();
         $('#latest_hash_hash_number').append(latestHashEventNumber);
         //$('#virgin_hash_hash_number').listview('refresh');

         var latestHashEventDate = data.EVENT_DATE_FORMATTED;
         $('#latest_hash_event_date').empty();
         $('#latest_hash_event_date').append(latestHashEventDate);

         var latest_hash_location = data.EVENT_LOCATION;
         $('#latest_hash_location').empty();
         $('#latest_hash_location').append(latest_hash_location);


         var years_elapsed = data.YEARS_SINCE_EVENT;
         var months_elapsed = data.MONTHS_SINCE_EVENT;
         var days_elapsed = data.DAYS_SINCE_EVENT;
         var time_elapsed = years_elapsed + " year" + ( years_elapsed != 1 ? "s" : "") + ", " + months_elapsed + " month" + ( months_elapsed != 1 ? "s" : "") + ", " + days_elapsed + " day" + ( days_elapsed != 1 ? "s" : "");
         $('#latest_hashing_elapsed_time').empty();
         $('#latest_hashing_elapsed_time').append(time_elapsed);

        },
        error: function (jqXHR, textStatus, errorThrown){
             alert("failure");
             alert(jqXHR);
             alert(textStatus);
             alert(errorThrown);
        }
    });
  }







//Generic function to retrieve data
function getListData(url_value,div_value, column_one_header, column_two_header){
 var formData = null;
 $.ajax({
     url : url_value,
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR){
       $(div_value).empty();

       $(div_value).append('<table class="table table-condensed">');
       $(div_value).append('<thead>');
       $(div_value).append('<tr><td><b>' +column_one_header+'</b></td><td>&nbsp;' +column_two_header+'</td></tr>');
       $(div_value).append('</thead>');



       $.each(data, function(key,row) {
         $(div_value).append('<tr>');
         $(div_value).append('<td><b>'+ row.THE_VALUE + '</b></td>');
         $(div_value).append('<td>&nbsp;'+ row.THE_COUNT + '</td>');
         $(div_value).append('</tr>');
       });

       $(div_value).append('</table>');

     },
     error: function (jqXHR, textStatus, errorThrown){
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}


   //Call these functions upon page load
   $(document).ready(function() {
      getVirginHash();
      getMostRecentHash();
      getListData("/{{kennel_abbreviation}}/statistics/kennel/hashes/by/city","#kennelHashesByCity-list","City","Count");
      getListData("/{{kennel_abbreviation}}/statistics/kennel/hashes/by/county","#kennelHashesByCounty-list","County","Count");
      getListData("/{{kennel_abbreviation}}/statistics/kennel/hashes/by/postalcode","#kennelHashesByPostalcode-list","Postal Code","Count");

      {#
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/year","#hasherHashesByYear-list","Year","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/quarter","#hasherHashesByQuarter-list","Quarter","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/month","#hasherHashesByMonth-list","Month","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/dayname","#hasherHashesByDay-list","Day Name","Count");
      //getListData("/{{kennel_abbreviation}}/statistics/kennel/hashes/by/city","#kennelHashesByCity-list","City","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/hashes/by/state","#hasherHashesByState-list","State","Count");


      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/year","#hasherHaringsByYear-list","Year","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/quarter","#hasherHaringsByQuarter-list","Quarter","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/month","#hasherHaringsByMonth-list","Month","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/dayname","#hasherHaringsByDay-list","Day Name","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/city","#hasherHaringsByCity-list","City","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/all/harings/by/state","#hasherHaringsByState-list","State","Count");





      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/year","#hasherNonHyperHaringsByYear-list","Year","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/quarter","#hasherNonHyperHaringsByQuarter-list","Quarter","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/month","#hasherNonHyperHaringsByMonth-list","Month","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/state","#hasherNonHyperHaringsByState-list","State","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/statistics/hasher/nonhyper/harings/by/city","#hasherNonHyperHaringsByCity-list","City","Count");


      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/coharecount/byhare/nonhypers","#cohareCountByHareNonHypers-list","Hasher","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/coharecount/byhare/onlyhypers","#cohareCountByHareOnlyHypers-list","Hasher","Count");
      //getListData({{hasherValue.HASHER_KY}},"/{{kennel_abbreviation}}/coharecount/byhare/allhashes","#cohareCountByHareAllHashes-list","Hasher","Count");
      #}

    });

   </script>




    <div class="container">
      <h1>{{pageTitle}}</h1>



      <div class="row">

        <div class="col-sm-6" style="background-color:lime;">
          <h3>Basic Details</h3>
          <dl class="dl-horizontal">
              {% autoescape %}
                <dt>Kennel Name</dt><dd> {{kennelName}}</dd>
                <dt>Kennel Abbreviation</dt><dd> {{kennel_abbreviation}} </dd>
                <dt>Number of Hashes</dt><dd> {{hash_count}}</dd>
              {% endautoescape %}
          </dl>
        </div>

        <div class="col-sm-6" style="background-color:gold;">
          <h3>Their hashings</h3>
          <dl class="dl-horizontal">
            <dt># of hashers</dt><dd> <a href="/{{kennel_abbreviation}}/hashingCounts">{{distinct_hasher_count}}</a></dd>
            {% for hareType in hareTypes %}
              <dt># of "{{hareType.HARE_TYPE_NAME}}" hares</dt><dd> <a href="/{{kennel_abbreviation}}/haringCounts/{{hareType.HARE_TYPE}}">{{distinct_hare_counts[hareType.HARE_TYPE_NAME]}} </a></dd>
            {% endfor %}
            <dt># of "Overall" hares</dt><dd> <a href="/{{kennel_abbreviation}}/haringCounts">{{distinct_overall_hare_count}}</a></dd>
          </dl>
        </div>



      </div>

      <div class="row">

        <div class="col-sm-6" style="background-color:yellow">
          <h3>First</h3>
          <dl class="dl-horizontal">
            <dt>Hash Number</dt>
            <dd>
              <div data-role="content" id="virgin_hash_hash_number"></div>
            </dd>
            <dt>Hash Date</dt>
            <dd>
              <div data-role="content" id="virgin_hash_event_date"></div>
            </dd>
            <dt>Hash Location</dt>
            <dd>
              <div data-role="content" id="virgin_hash_location"></div>
            </dd>
            <dt>Time Elapsed</dt>
            <dd>
                <div data-role="content" id="virgin_hashing_elapsed_time"></div>
            </dd>
          </dl>
        </div>


        <div class="col-sm-6" style="background-color:silver">
          <h3>Latest hashing</h3>
          <dl class="dl-horizontal">
            <dt>Hash Number</dt>
            <dd>
              <div data-role="content" id="latest_hash_hash_number"></div>
            </dd>
            <dt>Hash Date</dt>
            <dd>
              <div data-role="content" id="latest_hash_event_date"></div>
            </dd>
            <dt>Hash Location</dt>
            <dd>
              <div data-role="content" id="latest_hash_location"></div>
            </dd>
            <dt>Time Elapsed</dt>
            <dd>
              <div data-role="content" id="latest_hashing_elapsed_time"></div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-6">

          <canvas id="myChart" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_year_list %}
                      {{individualValue.THE_VALUE}},
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_year_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(54, 162, 235, 0.2)',
                      borderColor:'rgba(54, 162, 235, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes Per Year'
                  }
              }
          });
          </script>

        </div>






      </div>




      <div class="row">

        <div class="col-sm-6">
          <canvas id="myChart3" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart3");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_month_name_list %}
                      "{{individualValue.MONTH_NAME[0:3]}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_month_name_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(132, 234, 183,.2)',
                      borderColor:'rgba(132, 234, 183,1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By Month'
                  }
              }
          });
          </script>

        </div>

        <div class="col-sm-6">

          <canvas id="myChart4" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart4");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_quarter_list %}
                      {{individualValue.THE_VALUE}},
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_quarter_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}],
                        backgroundColor:'rgba(127, 15, 239, 0.2)',
                        borderColor:'rgba(127, 15, 239, 1)',
                      borderWidth: 1
                  }
                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes per Quarter'
                  }
              }
          });
          </script>

        </div>


      </div>

      <div class="row">
        <div class="col-sm-6">
          <canvas id="myChart55" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart55");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_county_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_county_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      backgroundColor:'rgba(127, 15, 239, 0.2)',
                      borderColor:'rgba(127, 15, 239, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By County'
                  }
              }
          });
          </script>
        </div>

        <div class="col-sm-6">
          <canvas id="myChart56" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart56");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_postal_code_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_postal_code_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      //fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(132, 234, 183,.2)',
                      borderColor:'rgba(132, 234, 183,1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By Postal Code'
                  }
              }
          });
          </script>
        </div>
      </div>


      <div class="row">

        <div class="col-sm-6">
          <canvas id="myChart5" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart5");
          var myChart = new Chart(ctx, {
              type: 'pie',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_state_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_state_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:[
                        'rgba(132, 234, 183,.2)',
                        'rgba(239, 127, 15, 0.2)',
                        'rgba(239, 15, 15, 0.2)',
                        'rgba(201, 200, 253, 0.2)'
                      ],
                      borderColor:[
                        'rgba(132, 234, 183,1)',
                        'rgba(239, 127, 15, 1)',
                        'rgba(239, 15, 15, 1)',
                        'rgba(201, 200, 253, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By State'
                  }
              }
          });
          </script>

        </div>

        <div class="col-sm-6">
          <canvas id="myChart6" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart6");
          var myChart = new Chart(ctx, {
              type: 'pie',
              data: {
                  labels: [
                    {% for individualValue in hashes_by_day_name_list %}
                      "{{individualValue.THE_VALUE}}",
                    {% endfor %}
                  ],
                  datasets: [{
                      label: '# of Hashes',
                      data: [
                        {% for individualValue in hashes_by_day_name_list %}
                          {{individualValue.THE_COUNT}},
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',

                      backgroundColor:[
                        'rgba(132, 234, 183,.2)',
                        'rgba(239, 127, 15, 0.2)',
                        'rgba(239, 15, 15, 0.2)',
                        'rgba(201, 200, 253, 0.2)',
                        'rgba(250, 200, 253, 0.2)',
                        'rgba(150, 250, 253, 0.2)',
                        'rgba(500, 100, 253, 0.2)'
                      ],
                      borderColor:[
                        'rgba(132, 234, 183,1)',
                        'rgba(239, 127, 15, 1)',
                        'rgba(239, 15, 15, 1)',
                        'rgba(201, 200, 253, 1)',
                        'rgba(250, 200, 253, 1)',
                        'rgba(150, 250, 253, 1)',
                        'rgba(500, 100, 253, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes By Day Name'
                  }
              }
          });
          </script>

        </div>

      </div>

      <div class="row">
        <div class="col-sm-4">
          <a href="#citylist" class="btn btn-info" data-toggle="collapse">Show Hashes By City List</a>
          <div class="collapse" style="background-color:yellow" id="citylist">
            <dl class="dl-horizontal">
              <h4>Hashes by city</h4>
              <div data-role="content" id="kennelHashesByCity-list"></div>
            </dl>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#countylist" class="btn btn-info" data-toggle="collapse">Show Hashes By County List</a>
          <div class="collapse" style="background-color:gold" id="countylist">
            <dl class="dl-horizontal">
              <h4>Hashes by county</h4>
              <div data-role="content" id="kennelHashesByCounty-list"></div>
            </dl>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#postalcodelist" class="btn btn-info" data-toggle="collapse">Show Hashes By Postal Code List</a>
          <div class="collapse" style="background-color:lime" id="postalcodelist">
            <dl class="dl-horizontal">
              <h4>Hashes by postal code</h4>
              <div data-role="content" id="kennelHashesByPostalcode-list"></div>
            </dl>
          </div>
        </div>
      </div>

      <div class="row">

      </div>

      <div class="row">
        <div id = "surrounding_div" class="col-sm-12" style="width:100%;height:600px">
          <h4>Hashes By City</h4>
          <canvas id="my_canvas" class="wordcloud"></canvas>
        </div>
      </div>



      <script type = "text/javascript" language = "javascript">
          var canvas = document.getElementById("my_canvas");
          var parent = document.getElementById("surrounding_div");
          canvas.width = parent.offsetWidth;
          canvas.height = parent.offsetHeight;
      </script>

      <script>


            var options = {
              list: [
                {% for item in city_hashings_count_list %}
                    //var theWeight = convertWordCloudValue("{{item.THE_COUNT}}");
                    ["{% autoescape 'js' %}{{item.THE_VALUE}}{% endautoescape %}","{{min(80,item.THE_COUNT * 5)}}"],
                {% endfor %}
              ],
              drawMask: false,
              shape: "diamond",
              gridSize: 5,
              drawOutOfBound: false
            };

            WordCloud(document.getElementById('my_canvas'), options );
      </script>


      <div class="row">
        <div id="map" class="col-sm-12"></div>
          <style>
          #map{
            height: 100%;
          }
          </style>
        </div>
      </div>


      <script>
        var map;
        function initMap(){
          map = new google.maps.Map(document.getElementById('map'),{
            zoom: 10,
            center: new google.maps.LatLng( {{avg_lat}}, {{avg_lng}} )
            //mapTypeId: 'terrain'
          });

        {% for hashEventValue in the_hashes %}
          var event_num = "#{{hashEventValue.KENNEL_EVENT_NUMBER | escape('html')}}";
          var event_description = "{{hashEventValue.SPECIAL_EVENT_DESCRIPTION | escape('html')}}";
          var event_location = "{{hashEventValue.EVENT_LOCATION | escape('html')}}";
          var event_date = "{{hashEventValue.EVENT_DATE | date("m/d/Y" ) | escape('html')}}";

          var textValue = "{{kennel_abbreviation}}"+ event_num +":" + event_description + " at " + event_location + " on " + event_date;
          var eventLink = "/{{kennel_abbreviation}}/hashes/{{hashEventValue.HASH_KY}}";

          var marker = new google.maps.Marker({
            position: {lat: {{hashEventValue.LAT}}, lng:{{hashEventValue.LNG}}},
            map: map,
            title: textValue,
            url: eventLink
          });
          google.maps.event.addListener(marker,'click', function(){
            window.open(this.url);
          });
        {% endfor %}
        }

      </script>

      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{geocode_api_value}}&callback=initMap">
      </script>

    </div>

{% endblock %}
