{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-4">
          <h3>Year by year summaries</h3>
          {% for item in theYearValues %}
            <a href='/{{kennel_abbreviation}}/statistics/getYearInReview/{{item.YEAR}}' >{{item.YEAR}} ({{item.THE_COUNT}} events)</a><br>
          {% endfor %}
        </div>

        <div class="col-lg-4">
          <h3>Standard Statistics</h3>
          First Event: <a href = "/{{kennel_abbreviation}}/hashes/{{firstEvent.HASH_KY}}">{{firstEvent.KENNEL_EVENT_NUMBER}} on {{firstEvent.EVENT_DATE|date("Y/m/d", false)}}</a><br>
          Most Recent Event: <a href = "/{{kennel_abbreviation}}/hashes/{{mostRecentEvent.HASH_KY}}">{{mostRecentEvent.KENNEL_EVENT_NUMBER}} on {{mostRecentEvent.EVENT_DATE|date("Y/m/d", false)}}</a><br>
        </div>

        <div class="col-lg-4">
          <h3>Other Kennels</h3>
          {% for kennelValue in kennelValues %}
            {% if kennel_abbreviation == kennelValue.KENNEL_ABBREVIATION %}
              {{kennelValue.KENNEL_ABBREVIATION}} Statistics
            {% else %}
              <a href="/{{kennelValue.KENNEL_ABBREVIATION}}">{{kennelValue.KENNEL_ABBREVIATION}} Statistics</a>
            {% endif %}
            <br>
          {% endfor %}
        </div>


      </div>

{% endblock %}
