{% extends "fullwidth.twig" %}

{% block content %}
    <h1>{{pageTitle}}</h1>
    <table class="table table-condensed table-hover">
      <caption>{{tableCaption}}</caption>
      <thead>
        <tr>
          <th>{{columnOneName}}</th>
          <td>{{columnTwoName}}</td>
        </tr>
      </thead>
      <tbody>
        {% for item in theList %}
          <tr>
            <td>{{item.NAME}}</td>
            <td>{{item.VALUE}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
