  {% extends "fullwidth.twig" %}

{% block content %}
    <h1>{{pageTitle}}</h1>
    <table class="table table-condensed table-hover">
      <caption>{{tableCaption}}</caption>
      <thead>
        <tr>
          {% for columnName in columnNames %}
            <th>{{columnName}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for item in theList %}
          <tr>
            <td><a href='/{{kennel_abbreviation}}/hashers/{{item.HASHER_KY}}'>{{item.HASHER_NAME}}</a></td>
            <td><a href='/{{kennel_abbreviation}}/listhashes/byhare/{{item.HASHER_KY}}'>{{item.ALL_HARING_COUNT}}</a></td>
            {% for hareType in hareTypes %}
              <td><a href='/{{kennel_abbreviation}}/listhashes/byhare/{{item.HASHER_KY}}'>{{item[hareType.HARE_TYPE_NAME ~ '_HARING_COUNT']}}</a></td>
              <td>{{item[hareType.HARE_TYPE_NAME ~ '_HARINGS_PERCENTAGE']}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
