  {% extends "fullwidth.twig" %}

{% block content %}
    <h1>{{pageTitle}}</h1>
    <table class="table table-condensed table-hover">
      <caption>{{tableCaption}}</caption>
      <thead>
        <tr>
          <th>{{columnOneName}}</th>
          <th>{{columnTwoName}}</th>
          <th>{{columnThreeName}}</th>
          <th>{{columnFourName}}</th>
          <th>{{columnFiveName}}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in theList %}
          <tr>
            <td><a href='/{{kennel_abbreviation}}/hashers/{{item.HASHER_KY}}'>{{item.HASHER_NAME}}</a></td>
            <td><a href='/{{kennel_abbreviation}}/listhashes/byhare/{{item.HASHER_KY}}'>{{item.ALL_HARING_COUNT}}</a></td>
            <td><a href='/{{kennel_abbreviation}}/listhashes/byhare/{{item.HASHER_KY}}'>{{item.HYPER_HARING_COUNT}}</a></td>
            <td>{{item.HYPER_HARINGS_PERCENTAGE}}</td>
            <td>{{item.NON_HYPER_HARINGS_PERCENTAGE}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
