{% extends "fullwidth.twig" %}

{% block content %}

<script type = "text/javascript" language = "javascript">

  //Call these functions upon page load
  $(document).ready(function() {
    //Convert the main table into a data table
    $('#the_main_table').DataTable({
      "paging":   false,
      "aaSorting": []
    });

  });
</script>


  <h1>{{pageTitle}}</h1>
  <h3>{{pageSubTitle}}</h3>
  <div class="table-responsive">
    <b>First Hash:</b> <a href="/{{kennel_abbreviation}}/hashes/{{firstHashKey}}">{{kennel_abbreviation}} #{{firstKennelEventNumber}} on {{firstEventDate|date("Y/m/d", false)}} </a> <br>
    <b>Overall number of hashes:</b> {{overallHashCount}} <br>
    <b>Overall run rate (days between hashes, for all time):</b> {{overallRunRate}} days between hashes<br><br>

    <b>Recent number of hashes (last {{recentDateRangeInDays}} days):</b> {{recentHashCount}} <br>
    <b>Recent run rate (days between hashes, last {{recentDateRangeInDays}} days):</b> {{recentRunRate}} days between hashes<br>
  <table class="table table-condensed table-hover" id="the_main_table">
    <caption>{{tableCaption}}</caption>
    <thead>
      <tr>
        <td>Analversary Number</td>
        <th>Predicted Date (Overall rate)</th>
        <th>Predicted Date (Recent rate)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in theList %}
        <tr>
          <td>{{item.incrementedHashCount}}</td>
          <td nowrap="nowrap">{{item.incrementedDateOverall|date("Y/m/d", false)}}</td>
          <td nowrap="nowrap">
            {% if item.incrementedDateRecent is null %}
              Not Anytime Soon!
            {% else %}
              {{item.incrementedDateRecent|date("Y/m/d", false)}}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
  </table>
  </div>
{% endblock %}
