{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-4">
          <h3><a href="/{{kennel_abbreviation}}/basic/stats">Basic Info and Statistics</a></h3>
          The <a href='/{{kennel_abbreviation}}/listhashers2'><b>list of hashers</b></a>, the <a href='/{{kennel_abbreviation}}/listhashes2' ><b>list of hashes</b></a>, the <a href='/{{kennel_abbreviation}}/hashingCounts'><b>hashing counts</b></a> and <a href='/{{kennel_abbreviation}}/haringCounts' ><b>the haring counts</b></a>.
        </div>


        <div class="col-lg-4">
          <h3><a href="/{{kennel_abbreviation}}/analversary/stats">Analversaries</a></h3>
          This section contains the <a href='/{{kennel_abbreviation}}/pendingHareAnalversaries' >pending hare analversaries</a>, <a href='/{{kennel_abbreviation}}/pendingHasherAnalversaries' >pending hasher analversaries</a>, and other such information.
        </div>


        <div class="col-lg-4">
          <h3><a href="/{{kennel_abbreviation}}/haring/stats">Haring Statistics</a></h3>
          The statistics here are all about the hares. How often they've hared, the number of people they've hared for, etc.
        </div>

      </div>
      <div class="row marketing">

        <div class="col-lg-4">
          <h3><a href="/{{kennel_abbreviation}}/hashing/stats">Hashing Statistics</a></h3>
          These statistics are all about the hahsers. How often they've hared, their favorite hares, all the people they've hashed with, etc.
        </div>

        {#
        <div class="col-lg-4">
          <h3><a href="/{{kennel_abbreviation}}/cautionary/stats">Cautionary Stats</a></h3>
          Events where shenanigans and toomfoolery ensued
        </div>
        <div class="col-lg-4">
          <h3>Secret Logon Pages</h3>
          <a href='/logonscreen' >The Admin Logon Screen</a><br>
          <a href='/superadmin/hello' >The Super Admin Logon Screen</a><br>
          <a href='/admin/hello' >The Admin Landing Screen</a><br>
          <a href='/superadmin/hello' >The Super Admin Landing Screen</a><br>
        </div>
        #}

      </div>



{% endblock %}
