{% extends "fullwidth.twig" %}

{% block content %}

<script type = "text/javascript" language = "javascript">

  //Call these functions upon page load
  $(document).ready(function() {
    //Convert the main table into a data table
    $('#the_main_table').DataTable({
      "paging":   false,
      "aaSorting": []
    });

  });
</script>


  <h1>{{pageTitle}}</h1>
  <h3>{{pageSubTitle}} as of the {{kennel_abbreviation}} #{{theHashValue.KENNEL_EVENT_NUMBER}} hash</h3>
  <h4>Event Date: {{theHashValue.EVENT_DATE|date("Y/m/d H:i (D)", false)}}</h4>
  <h4>Event Location: {{theHashValue.EVENT_LOCATION}}</h4>
  <div class="table-responsive">
  <table class="table table-condensed table-hover" id="the_main_table">
    <caption>{{tableCaption}}</caption>
    <thead>
      <tr>
        <th>Hasher</th>
        <td>Attendance Streak</td>
      </tr>
    </thead>
    <tbody>
      {% for item in theList %}
        <tr>
          <td><a href='/{{kennel_abbreviation}}/hashers/{{item.HASHER_KY}}'>{{item.HASHER_NAME}}</a> | <a href='/{{kennel_abbreviation}}/attendanceRecordForHasher/{{item.HASHER_KY}}'>Attendance Record</a></td>
          <td>{{item.THE_COUNT}}</td>
        </tr>
      {% endfor %}
  </table>
  </div>
{% endblock %}
