{% extends "superadmin_base.twig" %}

{% block template %}

    <h1>{{pageTitle}}</h1>
    <h3>{{subTitle1}}</h3>

    {% if is_granted('ROLE_SUPERADMIN') %}
        Role: ROLE_SUPERADMIN.<br>
        User:{{ app.user.username }}<br>
        <a href="{{ path('superadmin_logoutaction') }}">Log out (Admin)</a><br>

        <h2>Manage admin users</h2>
        * Create admin users <br>
        * Read admin users <br>
        * Update admin users <br>
        * Delete admin users <br>

        <h2> Manage kennels</h2>
        * Create kennels <br>
        * Read kennels <br>
        * Update kennels <br>
        * Delete kennels <br>

        <h2>Manage system settings</h2>
        <h2>View audit activity</h2>
    {% else %}
        You seem not to be logged in.
        <a href="{{ path('superadmin_logoutaction') }}">Log out (Admin)</a><br>
    {% endif %}

{% endblock %}
