{% extends "fullwidth.twig" %}

{% block content %}

    <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script type = "text/javascript" language = "javascript"></script>




    <div class="container">
      <h1>{{kennel_abbreviation}} {{pageTitle}}</h1>
      <h2>The top {{row_limit}}</h2>
      <h3>True harings = non-hyper harings</h3>

      <div class="row">
        <div class="col-sm-12">

          <canvas id="myChart" width="50" height="50"></canvas>
          <script>
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'horizontalBar',
              data: {
                  labels: [
                    {% for individualEntry in trending_true_hares_list %}
                      '{{individualEntry.THE_VALUE|raw}}',
                    {% endfor %}
                  ],
                  datasets: [{
                      label: 'Number of True Harings',
                      data: [
                        {% for individualEntry in trending_true_hares_list %}
                          '{{individualEntry.THE_COUNT}}',
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(54, 162, 235, 0.2)',
                      borderColor:'rgba(54, 162, 235, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'True Harings in the last {{day_count}} days'
                  }
              }
          });
          </script>
        </div>
      </div>
    </div>

{% endblock %}
