{% extends "fullwidth.twig" %}

{% block content %}

    <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script type = "text/javascript" language = "javascript"></script>




    <div class="container">
      <h1>{{kennel_abbreviation}} {{pageTitle}}</h1>
      <h2>The top {{row_limit}}</h2>

      <div class="row">
        <div class="col-sm-12">

          <canvas id="myChart" width="50" height="25"></canvas>
          <script>
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'horizontalBar',
              data: {
                  labels: [
                    {% for individualEntry in un_trending_true_hares_list %}
                      '{{individualEntry.HASHER_NAME|raw}}',
                    {% endfor %}
                  ],
                  datasets: [{
                      label: 'Number of Hashes Attended',
                      data: [
                        {% for individualEntry in un_trending_true_hares_list %}
                          '{{individualEntry.HASH_COUNT}}',
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(54, 162, 235, 0.2)',
                      borderColor:'rgba(54, 162, 235, 1)',
                      borderWidth: 1
                  },
                  {
                      label: 'Number of Non-Hyper Harings',
                      data: [
                        {% for individualEntry in un_trending_true_hares_list %}
                          '{{individualEntry.NON_HYPER_HARE_COUNT}}',
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(255, 99, 132, 0.2)',
                      borderColor:'rgba(255, 99, 132, 1)',
                      borderWidth: 1
                  },

                  {
                      label: 'Non-Hyper Haring Percentage',
                      data: [
                        {% for individualEntry in un_trending_true_hares_list %}
                          '{{individualEntry.NON_HYPER_HARING_TO_HASHING_PERCENTAGE}}',
                        {% endfor %}

                      ],
                      fillColor:'rgba(75, 192, 192, 0.2)',
                      backgroundColor:'rgba(153, 102, 255, 0.2)',
                      borderColor:'rgba(153, 102, 255, 1)',
                      borderWidth: 1
                  }


                ]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  title: {
                    display: true,
                    text: 'Hashes in the last {{day_count}} days; minimum of {{min_hash_count}} hashes; maximum of {{max_percentage}}%'
                  }
              }
          });
          </script>
        </div>
      </div>
    </div>

{% endblock %}
