{% extends "fullwidth.twig" %}

{% block content %}
  <script type = "text/javascript" src = "/vendor/components/jquery/jquery.min.js"></script>
  <script type = "text/javascript" src = "/vendor/ifightcrime/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
  <script type = "text/javascript" language = "javascript">

  //Generic function to retrieve data
  function getListData(url_value,div_value, column_one_header, column_two_header, year_value){
   var formData = {year_value:year_value};
   $.ajax({
       url : url_value,
       type: "POST",
       data : formData,
       dataType : 'json',
       success: function(data, textStatus, jqXHR){
         $(div_value).empty();

         $(div_value).append('<table class="table table-condensed">');
         $(div_value).append('<thead>');
         $(div_value).append('<tr><td><b>' +column_one_header+'</b></td><td>&nbsp;' +column_two_header+'</td></tr>');
         $(div_value).append('</thead>');



         $.each(data, function(key,row) {
           $(div_value).append('<tr>');
           $(div_value).append('<td><b>'+ row.HASHER_NAME + '</b></td>');
           $(div_value).append('<td>&nbsp;'+ row.THE_COUNT + '</td>');
           $(div_value).append('</tr>');
         });

         $(div_value).append('</table>');

       },
       error: function (jqXHR, textStatus, errorThrown){
            alert("failure");
            alert(jqXHR);
            alert(textStatus);
            alert(errorThrown);
       }
   });
  }





//This function loads when the pages loads
 $(document).ready(function() {


    getListData("/{{kennel_abbreviation}}/statistics/getHasherCountsByYear","#hasherCounts-list","Hasher","Count",{{yearValue}});
    getListData("/{{kennel_abbreviation}}/statistics/getTotalHareCountsByYear","#totalHareCounts-list","Hasher","Count",{{yearValue}});
    getListData("/{{kennel_abbreviation}}/statistics/getHyperHareCountsByYear","#hyperHareCounts-list","Hasher","Count",{{yearValue}});
    getListData("/{{kennel_abbreviation}}/statistics/getNonHyperHareCountsByYear","#nonHyperHareCounts-list","Hasher","Count",{{yearValue}});

    getListData("/{{kennel_abbreviation}}/statistics/getNewbieHasherListByYear","#newbieHashers-list","Hasher","Count",{{yearValue}});
    getListData("/{{kennel_abbreviation}}/statistics/getNewbieTrueHareListByYear","#newbieTrueHare-list","Hare","Count",{{yearValue}});
    getListData("/{{kennel_abbreviation}}/statistics/getNewbieHyperHareListByYear","#newbieHyperHare-list","Hare","Count",{{yearValue}});
    getListData("/{{kennel_abbreviation}}/statistics/getNewbieOverallHareListByYear","#newbieOverallHare-list","Hare","Count",{{yearValue}});

  });


  </script>




<div class="container">
  <h1>{{pageTitle}}</h1>

  <div class="row">
    <div class="col-sm-4" style="background-color:gold;">
      <h3>Event Details</h3>
      <dl class="dl-horizontal">
          {% autoescape %}
            <dt>Hashes</dt><dd>{{hash_count}}</dd>
            <dt>Hyper Hashes </dt><dd>{{hyper_hash_count}} </dd>
            <dt>True Hashes</dt><dd>{{true_hash_count}}</dd>
          {% endautoescape %}
      </dl>
    </div>

    <div class="col-sm-4" style="background-color:orange;">
      <h3>People Details</h3>
      <dl class="dl-horizontal">
          {% autoescape %}
            <dt>Hashers</dt><dd>{{hasher_count}}</dd>
            <dt>True Hares </dt><dd>{{true_hare_count}}</dd>
            <dt>Hyper Hares</dt><dd>{{hyper_hare_counts}}</dd>
            <dt>Overall Hares</dt><dd>{{overall_hare_count}}</dd>
          {% endautoescape %}
      </dl>
    </div>

    <div class="col-sm-4" style="background-color:silver;">
      <h3>Newbie Details</h3>
      <dl class="dl-horizontal">
          {% autoescape %}
            <dt>Newbie Hashers</dt><dd><a href="#newbiehasherlist">{{newbie_hashers_count}}</a></dd>
            <dt>Newbie True Hares </dt><dd><a href="#newbietrueharelist">{{newbie_true_hares_count}}</a></dd>
            <dt>Newbie Hyper Hares</dt><dd><a href="#newbiehyperharelist">{{newbie_hyper_hares_count}}</a></dd>
            <dt>Newbie Overall Hares</dt><dd><a href="#newbieoverallharelist">{{newbie_overall_hares_count}}</a></dd>
          {% endautoescape %}
      </dl>
    </div>


  </div>

  <div class="row">
    <div class="col-sm-3" style="background-color:#35A1A5;">
      <h3>Hasher Counts</h3>
      <h5><i>* {{yearValue}} hashing count listed</i></h5>
      <a href="#hasherCounts-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="hasherCounts-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#81459E;">
      <h3>True Haring Counts</h3>
      <h5><i>* {{yearValue}} true haring count listed</i></h5>
      <a href="#nonHyperHareCounts-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="nonHyperHareCounts-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#35A1A5;">
      <h3>Hyper Haring Counts</h3>
      <h5><i>* {{yearValue}} hyper haring count listed</i></h5>
      <a href="#hyperHareCounts-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="hyperHareCounts-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#81459E;">
      <h3>Overall Haring Counts</h3>
      <h5><i>* {{yearValue}} overall haring count listed</i></h5>
      <a href="#totalHareCounts-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="totalHareCounts-list">
          </ul>
        </div>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" style="background-color:#81459E;">
      <h3>Newbie Hashers</h3>
      <h5><i>* All time hashing count listed</i></h5>
      <a href="#newbieHashers-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <a name= "newbiehasherlist"></a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="newbieHashers-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#35A1A5;">
      <h3>Newbie True Hares</h3>
      <h5><i>* All time true haring count listed</i></h5>
      <a href="#newbieTrueHare-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <a name= "newbietrueharelist"></a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="newbieTrueHare-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#81459E;">
      <h3>Newbie Hyper Hares</h3>
      <h5><i>* All time hyper haring count listed</i></h5>
      <a href="#newbieHyperHare-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <a name= "newbiehyperharelist"></a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="newbieHyperHare-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#35A1A5;">
      <h3>Newbie True Hares</h3>
      <h5><i>* All time overall haring count listed</i></h5>
      <a href="#newbieOverallHare-list" class="btn btn-info" data-toggle="collapse">Show/Hide</a>
      <a name= "newbieoverallharelist"></a>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="newbieOverallHare-list">
          </ul>
        </div>
      </dl>
    </div>

  </div>
</div>

{% endblock %}
