{% extends "fullwidth.twig" %}

{% block content %}
  <script type = "text/javascript" src = "/vendor/components/jquery/jquery.min.js"></script>
  <script type = "text/javascript" src = "/vendor/ifightcrime/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
  <script type = "text/javascript" language = "javascript">

  //Generic function to retrieve data
  function getListData(kennel_id,url_value,div_value, column_one_header, column_two_header, year_value){
   var formData = {year_value:year_value};
   $.ajax({
       url : url_value,
       type: "POST",
       data : formData,
       dataType : 'json',
       success: function(data, textStatus, jqXHR){
         $(div_value).empty();

         $(div_value).append('<table class="table table-condensed">');
         $(div_value).append('<thead>');
         $(div_value).append('<tr><td><b>' +column_one_header+'</b></td><td>&nbsp;' +column_two_header+'</td></tr>');
         $(div_value).append('</thead>');



         $.each(data, function(key,row) {
           $(div_value).append('<tr>');
           $(div_value).append('<td><b>'+ row.HASHER_NAME + '</b></td>');
           $(div_value).append('<td>&nbsp;'+ row.THE_COUNT + '</td>');
           $(div_value).append('</tr>');
         });

         $(div_value).append('</table>');

       },
       error: function (jqXHR, textStatus, errorThrown){
            alert("failure");
            alert(jqXHR);
            alert(textStatus);
            alert(errorThrown);
       }
   });
  }




 //Function to get hashers for the event
 function getHasherCountsByYear(yearValue){
  var formData = {year_value:yearValue};
  $.ajax({
      url : "/statistics/getHasherCountsByYear",
      type: "POST",
      data : formData,
      dataType : 'json',
      success: function(data, textStatus, jqXHR){

        $('#hasherCounts-list').empty();

        $('#hasherCounts-list').append('<table class="table table-condensed">');
        $('#hasherCounts-list').append('<thead>');
        $('#hasherCounts-list').append('<tr><td><b>Hasher</b></td><td>&nbsp;Count</td></tr>');
        $('#hasherCounts-list').append('</thead>');

        $.each(data, function(key,row) {
          $('#hasherCounts-list').append('<tr>');
          $('#hasherCounts-list').append('<td><b>'+ row.HASHER_NAME + '</b></td>');
          $('#hasherCounts-list').append('<td>&nbsp;'+ row.THE_COUNT + '</td>');
          $('#hasherCounts-list').append('</tr>');

        });

        $(div_value).append('</table>');
        $('#hasherCounts-list').listview('refresh');
      },
      error: function (jqXHR, textStatus, errorThrown){
           alert("failure");
           alert(jqXHR);
           alert(textStatus);
           alert(errorThrown);
      }
  });
}




//Function to get total hare counts for the year
function getTotalHareCountsByYear(yearValue){
 var formData = {year_value:yearValue};
 $.ajax({
     url : "/statistics/getTotalHareCountsByYear",
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR){

       $('#totalHareCounts-list').empty();

       $.each(data, function(key,row) {
         $('#totalHareCounts-list').append('<dt>'+ row.HASHER_NAME + '</dt>');
         $('#totalHareCounts-list').append('<dd>'+ row.THE_COUNT + '</dd>');

       });
       $('#totalHareCounts-list').listview('refresh');
     },
     error: function (jqXHR, textStatus, errorThrown){
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}

//Function to get total hare counts for the year
function getHyperHareCountsByYear(yearValue){
 var formData = {year_value:yearValue};
 $.ajax({
     url : "/statistics/getHyperHareCountsByYear",
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR){

       $('#hyperHareCounts-list').empty();

       $.each(data, function(key,row) {
         $('#hyperHareCounts-list').append('<dt>'+ row.HASHER_NAME + '</dt>');
         $('#hyperHareCounts-list').append('<dd>'+ row.THE_COUNT + '</dd>');

       });
       $('#hyperHareCounts-list').listview('refresh');
     },
     error: function (jqXHR, textStatus, errorThrown){
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}

//Function to get total hare counts for the year
function getNonHyperHareCountsByYear(yearValue){
 var formData = {year_value:yearValue};
 $.ajax({
     url : "/statistics/getNonHyperHareCountsByYear",
     type: "POST",
     data : formData,
     dataType : 'json',
     success: function(data, textStatus, jqXHR){

       $('#nonHyperHareCounts-list').empty();

       $.each(data, function(key,row) {
         $('#nonHyperHareCounts-list').append('<dt>'+ row.HASHER_NAME + '</dt>');
         $('#nonHyperHareCounts-list').append('<dd>'+ row.THE_COUNT + '</dd>');

       });
       $('#nonHyperHareCounts-list').listview('refresh');
     },
     error: function (jqXHR, textStatus, errorThrown){
          alert("failure");
          alert(jqXHR);
          alert(textStatus);
          alert(errorThrown);
     }
 });
}


//This function loads when the pages loads
 $(document).ready(function() {
    //getHasherCountsByYear({{yearValue}});
    //getTotalHareCountsByYear({{yearValue}});
    //getHyperHareCountsByYear({{yearValue}});
    //getNonHyperHareCountsByYear({{yearValue}});

    getListData(1,"/statistics/getHasherCountsByYear","#hasherCounts-list","Hasher","Count",{{yearValue}});
    getListData(1,"/statistics/getTotalHareCountsByYear","#totalHareCounts-list","Hasher","Count",{{yearValue}});
    getListData(1,"/statistics/getHyperHareCountsByYear","#hyperHareCounts-list","Hasher","Count",{{yearValue}});
    getListData(1,"/statistics/getNonHyperHareCountsByYear","#nonHyperHareCounts-list","Hasher","Count",{{yearValue}});
  });


  </script>




<div class="container">
  <h1>{{pageTitle}}</h1>
  <div class="row">
    <div class="col-sm-3" style="background-color:#35A1A5;">
      <h3>Hasher Counts</h3>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="hasherCounts-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#81459E;">
      <h3>Hare Counts</h3>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="totalHareCounts-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#35A1A5;">
      <h3>Hyper Hare Counts</h3>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="hyperHareCounts-list">
          </ul>
        </div>
      </dl>
    </div>

    <div class="col-sm-3" style="background-color:#81459E;">
      <h3>NonHyper Hare Counts</h3>
      <dl class="dl-horizontal">
        <div data-role="content">
          <ul data-role="listview" id="nonHyperHareCounts-list">
          </ul>
        </div>
      </dl>
    </div>

  </div>
</div>

{% endblock %}
